<div id="graphs">
  <h3 class="graph-title">Estadísticas de actos médicos</h3>
  <section class="filter">
    <div class="row">
      <div class="col-md-4">
        <%=
        select_tag "states",
        options_for_select( state_options(@states), params[:departamento] ),
        class: "form-control"
        %>
      </div>
      <div class="col-md-4">
        <%= render partial: 'home/provider_options'
        %>
      </div>
      <div class="col-md-4">
        Visualización
        <button class="button toggle" onClick="toggleVis('simple')">Simple</button>
        <button class="button toggle" onClick="toggleVis('avanzada')">Avanzada</button>
      </div>
    </div>
    <div class="row center">
      <%= icon_info('fnr-about').html_safe %>
      <span>Sobre esta visualización/Glosario</span>
    </div>
  </section>
  <div id="graph-stats">
  </div>
  <div id="graph-stats-legend">
    <ul id="list">
    </ul>
  </div>
</div>
