<div id="waiting-time">
  <h3 class="graph-title">¿Qué tipo de acto te interesa consultar sus tiempos de espera?</h3>
  <section class="filter">
    <div class="row">
      <div class="col-md-4">
        <%= select_tag "areas", options_for_select(tagging_options(@areas), params[:area]), include_blank: "Elija un área", class: "form-control" %>
      </div>
      <div class="col-md-4">
          <%= select_tag "types", options_for_select(tagging_options(@types), params[:types]),
            include_blank: "Elija una prestación",
            class: "form-control",
            name: 'intervention-types',
            id: 'intervention-types'
          %>
      </div>
      <div class="col-md-4">
        Visualización
        <button class="button toggle" onClick="toggleVis('simple')">Simple</button>
        <button class="button toggle" onClick="toggleVis('avanzada')">Avanzada</button>
      </div>
    </div>
    <div class="row center">
      <%= icon_info('fnr-about').html_safe %>
      <span>Sobre esta visualización/Glosario</span>
    </div>
  </section>
  <div id="graph-wait">
  </div>
</div>
