<div class="values users-total">Cantitdad de usuarios: <div class="result"><%= format_value(card['total'], nil) %></div></div>
<div class="values">Usuarios fonasa: <div class="result"><%= format_value(card['fonasa_users'], nil )%></div></div>
<div class="values">Usuarios no fonasa: <div class="result"><%= format_value(card['no_fonasa_users'], nil )%></div></div>
<div class="values">Sedes en:</div>
<div class="tags">
<% card['states'].each do |state_id| %>
  <% state = @states.detect{|(_,n)| n == state_id} %>
  <% if state.present? %>
    <div class="tag location departamento"><%= state.first %></div>
  <% end %>
<% end %>
</div>