<% card['total'].keys.each do |ptype|%>
  <% if ptype.present? %>
  <div class="values"><%= card['total'][ptype][:title].camelize %>: <div class="result"><%= format_value(card['total'][ptype][:value], ntype) %></div></div>
  <% end %>
<% end %>