<% card['total'].keys.each do |ptype|%>
  <% if ptype.present? %>
  <div class="values"><%= ptype.camelize %>: <div class="result"><%= format_value(card['total'][ptype], 'price') %></div></div>
  <% end %>
<% end %>