<% card['total'].keys.each do |ptype|%>
  <% if ptype.present? %>
  <div class="values percent">
  <label><%= ptype.camelize %></label>
  <div class="result"><%= format_value(card['total'][ptype], 'price', @prices_max[ptype]) %></div></div>
  <% end %>
<% end %>