<li>
  <p>
    <%= link_to 'Estructuras de centros de Salud en ASSE', 'http://www.asse.com.uy/categoria/Centros-de-Salud-148', target: '_blank' %>
  </p>
</li>
<li>
  <p>
    Unidades de Primer Nivel de Atención: <span>826</span>
  </p>
</li>
<li>
  <p>Unidades Asistenciales: <span>897</span></p>
</li>
<li>
  <p>Hospitales: <span>43</span></p>
</li>
<li>
  <p>Urgencia/emergencia: <span>72</span></p>
</li>
<li>
  <p>
    <span>Asse cuenta con Unidades Asistenciales en todos los departamentos del territorio Uruguayo.</span>
  </p>
</li>
