<td>
  <% waiting_times.each do |value| %>
    <div class="value">
      <div class="txt">
        <label><%= value[1] %></label>
      </div>

      <div class="nodata"> <p>VER LINK</p></div>
      <a href="#" data-toggle="modal" data-target="#asse_tiempos_modal" class="info-nodata">
        <i class="demo-icon icon-info"></i>
      </a>
  <% end %>
</td>
