<div style="display:none">
  <div id="prestador-modal-content">
    <h1>
      <a id="user-content-sobre-estos-datos" class="anchor" href="#sobre-estos-datos" aria-hidden="true"><span class="octicon octicon-link"></span></a>Sobre estos datos</h1>
    <p>Los íconos indican la existencia de uno (o múltiples en caso de estar indicado) sedes o servicios del prestador de salud en el departamento seleccionado.</p>
    <ul class="task-list">
      <li>
        <strong>Sede primaria</strong>: Existencia de sede principal del prestador de salud en el departamento.</li>
      <li>
        <strong>Sede secundaria</strong>: Existencia de sede secundaria del prestador de salud en el departamento. Las sedes secundarias brindan como mínimo atención ambulatoria o consultorio de las especialidades básicas, cobertura domiciliaria no urgente de Medico General y Pediatra y atención domiciliaria de urgencia de 24 horas de Médico General.</li>
      <li>
        <strong>Policlínica</strong>: Existencia de servicios de policlínica (no internación) del prestador de salud en el departamento. Brinda atención en consultorio de uno o más especialidades médicas.</li>
      <li>
        <strong>Urgencia</strong>: Existencia de puerta de urgencia en cualquiera de las sedes o servicios del prestador de salud en el departamento.</li>
    </ul>
    <hr>
    <p>Por más información sobre la construcción de los indicadores, puede consultar la <a href="https://catalogodatos.gub.uy/dataset/2169028b-a841-4851-aee4-c4be813371a9/resource/53b532c7-ef1e-4bb4-8ea3-1f02d6aee4c4/download/GUIAMETODOLOGICAINDICADOS2015.pdf">Guía Metodológica de Movilidad Regulada de los usuarios del Seguro Nacional de Salud - FONASA</a>.</p>
    <hr>
    <p>Los datos sin procesar están disponibles para ser descargados desde el <a href="https://catalogodatos.gub.uy/organization/ministerio-de-salud-publica">Catálogo Nacional de Datos Abiertos</a>.</p>
  </div>

  <div id="tiempos-modal-content">
    <h1>
      <a id="user-content-sobre-estos-datos" class="anchor" href="#sobre-estos-datos" aria-hidden="true"><span class="octicon octicon-link"></span></a>Sobre estos datos</h1>
    <p>La gráfica refleja los distintos tiempos de espera promedio según sus colores correspondientes. A mayor cantidad de íconos coloreados, mayor tiempo de espera, siendo todos los íconos coloreados equivalente al número resultante de la suma de todos los tiempos de espera del prestador con mayores tiempos de espera.</p>
    <ul class="task-list">
      <li>
        <strong>En todos los casos</strong>: Diferencia entre la fecha de solicitud de la cita y la fecha de la cita médica otorgada.</li>
      <li>
        <strong>En el caso de ASSE</strong>: Promedios de tiempos de espera calculados con información correspondiente a 142 unidades asistenciales de un total de 800. Siendo de las 142, la mayoría Unidades de Primer Nivel de Atención del interior del país, donde las especialidades tienen una oferta limitada.</li>
    </ul>
    <hr>
    <p>Por más información sobre la construcción de los indicadores, puede consultar la <a href="https://catalogodatos.gub.uy/dataset/2169028b-a841-4851-aee4-c4be813371a9/resource/53b532c7-ef1e-4bb4-8ea3-1f02d6aee4c4/download/GUIAMETODOLOGICAINDICADOS2015.pdf">Guía Metodológica de Movilidad Regulada de los usuarios del Seguro Nacional de Salud - FONASA</a>.</p>
    <hr>
    <p>Los datos sin procesar están disponibles para ser descargados desde el <a href="https://catalogodatos.gub.uy/organization/ministerio-de-salud-publica">Catálogo Nacional de Datos Abiertos</a>.</p>
  </div>

  <div id="derechos-modal-content">
    <h1>
      <a id="user-content-sobre-estos-datos" class="anchor" href="#sobre-estos-datos" aria-hidden="true"><span class="octicon octicon-link"></span></a>Sobre estos datos</h1>

    <p>Las barras reflejan el porcentaje de cada uno de los indicadores sobre satisfacción y derechos, siendo el 100% el total de los usuarios universo del indicador.</p>

    <p>Estos indicadores proporciona información sobre la "calidad percibida", por lo tanto, no constituye una medida "objetiva" de desempeño, ya que se formula desde la subjetividad de las personas que contestaron la encuesta, es decir, se basa en sus propias experiencias, necesidades, expectativas, etc.</p>

    <ul class="task-list">
      <li>
        <strong>Satisfacción</strong>: Promedio de las opiniones de los afiliados encuestados sobre su satisfacción con servicios del primer nivel de atención.</li>
      <li>
        <strong>Disponibilidad de agenda</strong>: Porcentaje de usuarios que responden "Muy Buena" y "Buena" a la siguiente pregunta: Cuando Ud. pide hora en IS para consultar médico (personalmente, por teléfono o por Internet) ¿Cómo diría que es la disponibilidad de horarios para ver al médico/especialista que quiere consultar?.</li>
      <li>
        <strong>Facilidad para trámites</strong>: Porcentaje de usuarios que responden "Muy Fácil" y "Fácil" a la siguiente pregunta: Los trámites y gestiones que debe realizar en (Institución) para consultar médico de medicina general o especialista, ¿le resultan fáciles o difíciles?</li>
      <li>
        <strong>Disponibilidad de medicamentos</strong>: Porcentaje de usuarios que responden "Siempre" y "Casi siempre" a la siguiente pregunta: Cuando concurre a la farmacia de la Institución donde se atiende (SI TIENE) ¿siempre están disponibles los medicamentos o alguna vez se fue sin conseguirlos?</li>
      <li>
        <strong>Información sobre derechos</strong>: Porcentaje de usuarios que responden "Sí" a la siguiente pregunta: En los últimos doce meses, ¿ha recibido por parte de (Institución) alguna información  respecto a sus derechos como usuario?.</li>
      <li>
        <strong>Recepción de quejas</strong>: Porcentaje de usuarios que responden "Sí" a la siguiente pregunta: Si hoy tuviese una queja o sugerencia para hacerle a (Institución) ¿sabe qué tiene que hacer, a dónde se debe dirigir?</li>
    </ul>

    <hr>

    <p>Por más información sobre la construcción de los indicadores, puede consultar la <a href="https://catalogodatos.gub.uy/dataset/2169028b-a841-4851-aee4-c4be813371a9/resource/53b532c7-ef1e-4bb4-8ea3-1f02d6aee4c4/download/GUIAMETODOLOGICAINDICADOS2015.pdf">Guía Metodológica de Movilidad Regulada de los usuarios del Seguro Nacional de Salud - FONASA</a>.</p>

    <hr>

    <p>Los datos sin procesar están disponibles para ser descargados desde el <a href="https://catalogodatos.gub.uy/organization/ministerio-de-salud-publica">Catálogo Nacional de Datos Abiertos</a>.</p>
  </div>
  <div id="tickets-modal-content">
    <h1>
      <a id="user-content-sobre-estos-datos" class="anchor" href="#sobre-estos-datos" aria-hidden="true"><span class="octicon octicon-link"></span></a>Sobre estos datos</h1>

    <p>La gráfica refleja los precios promedio agrupados según sus colores correspondientes. A mayor cantidad de íconos coloreados, mayor precio, siendo todos los íconos coloreados equivalente a la suma de los precios del prestador cuyos costos suman la cifra más elevada.</p>

    <p>Los precios utilizados son los valores máximos de tickets y órdenes que las instituciones están autorizadas a cobrar a sus afiliados a partir de enero de 2015 desagregados en: precio máximo cobrado al interior del colectivo de afiliados a través del FONASA y precio máximo cobrado a los afiliados NO FONASA.</p>

    <ul class="task-list">
      <li>
        <strong>Medicamentos</strong>: Promedio de los precios FONASA y NO FONASA de Ticket de medicamentos -general y Ticket de medicamentos topeados antihipertensivos (valsartán, amlodipina, hidroclorotiazida, enalapril).</li>
      <li>
        <strong>Consultas</strong>: Promedio de los precios FONASA y NO FONASA de Consulta no urgente consultorio - medicina general, Consulta no urgente consultorio - pediatria, Consulta no urgente consultorio - gineco-obstetricia (control de embarazo), Consulta no urgente consultorio - ginecologia, Consulta no urgente consultorio - otras especialidades, Consulta no urgencia domicilio, Consulta odontológica y Consulta médico de referencia.</li>
      <li>
        <strong>Consultas urgencia</strong>: Promedio de los precios FONASA y NO FONASA de Consulta urgencia centralizada y Consulta urgencia domicilio.</li>
      <li>
        <strong>Estudios</strong>: Promedio de los precios FONASA y NO FONASA de Endoscopía digestiva. Endoscopia esofagogastroduodenal, Ecografía simple, Ecodoppler miembros (inferiores / superiores) arterial / venoso, Rx abdomen / aparato urinario simple, Rx tórax, Rx colorectal, Resonancia nuclear magnética, una región, Tomografía axial computarizada, una región y Laboratorio, rutina básica.</li>
    </ul>

    <hr>

    <p>Por más información sobre la construcción de los indicadores, puede consultar la <a href="https://catalogodatos.gub.uy/dataset/2169028b-a841-4851-aee4-c4be813371a9/resource/53b532c7-ef1e-4bb4-8ea3-1f02d6aee4c4/download/GUIAMETODOLOGICAINDICADOS2015.pdf">Guía Metodológica de Movilidad Regulada de los usuarios del Seguro Nacional de Salud - FONASA</a>.</p>

    <hr>

    <p>Los datos sin procesar están disponibles para ser descargados desde el <a href="https://catalogodatos.gub.uy/organization/ministerio-de-salud-publica">Catálogo Nacional de Datos Abiertos</a>.</p>
  </div>
  <div id="metas-modal-content">
    <h1>
      <a id="user-content-sobre-estos-datos" class="anchor" href="#sobre-estos-datos" aria-hidden="true"><span class="octicon octicon-link"></span></a>Sobre estos datos</h1>

    <p>Las barras reflejan el porcentaje de cada una de las metas asistenciales, siendo el 100% el total de los usuarios universo del indicador.</p>

    <ul class="task-list">
      <li>
        <strong>Afiliados c/médico de referencia (%)</strong>: Porcentaje de usuarios que cuentan con médico de referencia.</li>
      <li>
        <strong>Embarazadas correctamente controladas (%)</strong>: Porcentaje de usuarias embarazadas con el mínimo  de controles exigidos por el MSP al momento del parto (6 controles hasta junio de 2013 y 5 controles de julio en adelante) y teniendo exámenes odontológicos y estudios de HIV y VDRL.</li>
      <li>
        <strong>Niños (1 año) correctamente controlados (%)</strong>: Porcentaje de niños de un año que están controlados según pauta ministerial (10 controles en el primer año de vida y CEV según pauta).</li>
    </ul>

    <hr>

    <p>Por más información sobre la construcción de los indicadores, puede consultar la <a href="https://catalogodatos.gub.uy/dataset/2169028b-a841-4851-aee4-c4be813371a9/resource/53b532c7-ef1e-4bb4-8ea3-1f02d6aee4c4/download/GUIAMETODOLOGICAINDICADOS2015.pdf">Guía Metodológica de Movilidad Regulada de los usuarios del Seguro Nacional de Salud - FONASA</a>.</p>

    <hr>

    <p>Los datos sin procesar están disponibles para ser descargados desde el <a href="https://catalogodatos.gub.uy/organization/ministerio-de-salud-publica">Catálogo Nacional de Datos Abiertos</a>.</p>
  </div>
  <div id="socios-modal-content">
    <h1>
      <a id="user-content-sobre-estos-datos" class="anchor" href="#sobre-estos-datos" aria-hidden="true"><span class="octicon octicon-link"></span></a>Sobre estos datos</h1>

    <p>La gráfica refleja la cantidad de afiliados, comparado con el prestador que más usuarios tiene en el sistema. A mayor cantidad de íconos coloreados, mayor cantidad de usuarios, siendo todos los íconos coloreados equivalente a el número del prestador con más afiliados.</p>

    <hr>

    <p>Por más información sobre la construcción de los indicadores, puede consultar la <a href="https://catalogodatos.gub.uy/dataset/2169028b-a841-4851-aee4-c4be813371a9/resource/53b532c7-ef1e-4bb4-8ea3-1f02d6aee4c4/download/GUIAMETODOLOGICAINDICADOS2015.pdf">Guía Metodológica de Movilidad Regulada de los usuarios del Seguro Nacional de Salud - FONASA</a>.</p>

    <hr>

    <p>Los datos sin procesar están disponibles para ser descargados desde el <a href="https://catalogodatos.gub.uy/organization/ministerio-de-salud-publica">Catálogo Nacional de Datos Abiertos</a>.</p>
  </div>
  <div id="rrhh-modal-content">
    <h1>
      <a id="user-content-sobre-estos-datos" class="anchor" href="#sobre-estos-datos" aria-hidden="true"><span class="octicon octicon-link"></span></a>Sobre estos datos:</h1>

    <p>La gráfica refleja las cantidades de personal disponible según sus colores correspondientes. A mayor cantidad de íconos coloreados, mayor cantidad de personal, siendo todos los íconos coloreados equivalente a la suma del número de cada categoría del prestador que suma más personal disponible.</p>

    <ul class="task-list">
      <li>
        <strong>Médicos generales</strong>: Cargos de médicos generales en policlínica cada 10.000 usuarios mayores de 14 años.</li>
      <li>
        <strong>Médicos de familia</strong>: Cargos de médicos de familia en policlínica cada 10.000 usuarios.</li>
      <li>
        <strong>Pediatras</strong>: Cargos de médicos pediatras en policlínica cada 10.000 usuarios menores de 14 años".</li>
      <li>
        <strong>Ginecólogos</strong>: Cargos de médicos ginecólogos en policlínica cada 10.000 usuarias mayores de 14 años.</li>
      <li>
        <strong>Enfermeros</strong>: Cargos de auxiliares de enfermería en policlínica cada 10.000 usuarios.</li>
      <li>
        <strong>Lic. en Enfermería</strong>: Cargos de licenciados de enfermería en policlínica cada 10.000 usuarios.</li>
    </ul>

    <hr>

    <p>Por más información sobre la construcción de los indicadores, puede consultar la <a href="https://catalogodatos.gub.uy/dataset/2169028b-a841-4851-aee4-c4be813371a9/resource/53b532c7-ef1e-4bb4-8ea3-1f02d6aee4c4/download/GUIAMETODOLOGICAINDICADOS2015.pdf">Guía Metodológica de Movilidad Regulada de los usuarios del Seguro Nacional de Salud - FONASA</a>.</p>

    <hr>

    <p>Los datos sin procesar están disponibles para ser descargados desde el <a href="https://catalogodatos.gub.uy/organization/ministerio-de-salud-publica">Catálogo Nacional de Datos Abiertos</a>.</p>
  </div>
</div>
