<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=1479349985610467&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="header">
  <div class="header-info">
    <div id="nav-menu">
      <ul class="menu">
        <li>
          <a href="/">
            Listado
          </a>
        </li>
        <li>
          <a href="/comparar">
            Comparar
          </a>
        </li>
        <li>
          <a href="/sobre_el_proyecto">
            Sobre el proyecto
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <a href="/" title="atuservicio">
        <%= image_tag('logo-atuservicio.png', alt: "atuservicio", id: "logo") %>
      </a>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <p>
        Mediante esta herramienta, DATA y el Ministerio de Salud P&uacute;blica
        permiten obtener, visualizar y comparar datos de prestadores de
        salud, para promover la toma de decisiones informadas de los
        usuarios y la transparencia del sistema.
      </p>
      <p><b><a href="/sobre_el_proyecto">Conozca más sobre el proyecto ></a></b></p>
      <ul class="social">
          <li><a href="https://twitter.com/share" class="twitter-share-button" data-via="DATAuy" data-related="DATAuy">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
          <li><div class="fb-share-button" data-href="http://atuservicio.uy" data-layout="button_count"></div></li>
        </ul>
    </div>
    <div class="col-md-6" id="logos">
      <ul class="menu">
        <li>
          <a href="http://datauy.org/" title="DATA">
            <%= image_tag('logodata.png', alt: "DATA") %>
          </a>
        </li>
        <li>
          <a href="http://www.msp.gub.uy/" title="MSP">
            <%= image_tag('logomsp.png', alt: 'DATA') %>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>

<!-- end header -->
