<tr id="referencias">
  <td class="referencia-td">
    <li>
      <span class="round-btn">1</span>
      Sede Primaria
    </li>
    <li>
      <span class="round-btn">2</span>
      Sede Secundaria
    </li>
    <li>
      <span class="round-btn">P</span>
      Policlínica
    </li>
    <li>
      <span class="round-btn magenta">U</span>
      Urgencia
    </li>
    <div class="text-center">
      <button class="btn btn-sm referencias" id="toggle_references">
        Ocultar referencias
      </button>
    </div>
  </td>
  <td class="referencia-td">
    <li>
      <span class="round-btn celeste"></span>
      Médico general
    </li>
    <li>
      <span class="round-btn marino"></span>
      Cirujano general
    </li>
    <li>
      <span class="round-btn azul"></span>
      Pediatra
    </li>
    <li>
      <span class="round-btn verde"></span>
      Ginecólogo
    </li>
    <li>
      <span class="round-btn azul_claro"></span>
      Médico de referencia
    </li>
  </td>

  <td class="referencia-td">
    <li>
      <span class="round-btn celeste"></span>
      Satisfacción
    </li>
    <li>
      <span class="round-btn marino"></span>
      Disponibilidad de agenda
    </li>
    <li>
      <span class="round-btn azul"></span>
      Trámites
    </li>
    <li>
      <span class="round-btn verde"></span>
      Disponibilidad de medicamentos
    </li>
    <li>
      <span class="round-btn azul_claro"></span>
      Información sobre derechos
    </li>
    <li>
      <span class="round-btn fuxia"></span>
      Recepción de quejas
    </li>
  </td>

  <td class="referencia-td">
    <li>
      <span class="round-btn celeste"></span>
      Medicamentos
    </li>
    <li>
      <span class="round-btn marino"></span>
      Consultas
    </li>
    <li>
      <span class="round-btn azul"></span>
      Consultas urgencia
    </li>
    <li>
      <span class="round-btn verde"></span>
      Estudios
    </li>
  </td>
  <td class="referencia-td">
    <li>
      <span class="round-btn celeste"></span>
      Afiliados c/médico de referencia (%)
    </li>
    <li>
      <span class="round-btn marino"></span>
      Embarazadas correct. controladas (%)
    </li>
    <li>
      <span class="round-btn azul"></span>
      Niños (1 año) correct. controlados (%)
    </li>
  </td>
  <td class="referencia-td">
  </td>
  <td class="referencia-td">
    <li>
      <span class="round-btn celeste"></span>
      Médicos generales
    </li>
    <li>
      <span class="round-btn marino"></span>
      Médicos de familia
    </li>
    <li>
      <span class="round-btn azul"></span>
      Pediatras
    </li>
    <li>
      <span class="round-btn verde"></span>
      Ginecólogos
    </li>
    <li>
      <span class="round-btn azul_claro"></span>
      Enfermeros
    </li>
    <li>
      <span class="round-btn fuxia"></span>
      Lic. en enfermería
    </li>
  </td>
</tr>
