<table class="table" id="listado">
  <tbody>
    <tr id="filtros">
      <td>
        <i class="icon-01"></i>
        <label>Prestador</label>
      </td>
      <td>
        <i class="icon-02"></i>
        <label>Tiempos de espera</label>
      </td>
      <td>
        <i class="icon-00"></i>
        <label>Derechos de usuarios</label>
      </td>
      <td>
        <i class="icon-04"></i>
        <label>Tickets y órdenes</label>
      </td>
      <td>
        <i class="icon-03"></i>
        <label>Metas asistenciales</label>
      </td>
      <td>
        <i class="icon-06"></i>
        <label>Cantidad de socios</label>
      </td>
      <td>
        <i class="icon-05"></i>
        <label>Recursos humanos</label>
      </td>
    </tr>

    <%= render 'referencia' %>
    <%= render 'table_body' %>
  </tbody>
</table>
