<thead>
  <tr>
    <th>
      <i class="demo-icon icon-estructura"></i>
      <h3>Prestador</h3>
      <a class="info" href="#" data-toggle="modal" data-target="#estructura_modal"><i class="icon-info"></i> </a>
    </th>

    <th>
      <i class="demo-icon icon-calendar"></i>
      <h3>Tiempos de espera</h3>
      <a class="info" href="#" data-toggle="modal" data-target="#tiempos_espera_modal"><i class="icon-info"></i> </a>
      <select id="tiempos" name="tiempos">
        <option value="promedios">SIN DISCRIMINAR</option>
        <option value="presenciales">PRESENCIALES</option>
        <option value="virtuales">VIRTUALES</option>
      </select>
      <i class="arrow down"></i>
    </th>

    <th>
      <i class="demo-icon icon-derechos"></i>
      <h3>Satisfacción de usuarios</h3>
      <a class="info" href="#" data-toggle="modal" data-target="#satisfaccion_derechos_modal"><i class="icon-info"></i> </a>
    </th>

    <th>
      <i class="demo-icon icon-price"></i>
      <h3>Precios FONASA</h3>
      <a class="info" href="#" data-toggle="modal" data-target="#precios_modal"><i class="icon-info"></i> </a>
    </th>

    <th>
      <i class="demo-icon icon-metas"></i>
      <h3>Indicadores asistenciales</h3>
      <a class="info" href="#" data-toggle="modal" data-target="#metas_modal"><i class="icon-info"></i> </a>
    </th>

    <th>
      <i class="demo-icon icon-socios"></i>
      <h3>Cantidad de usuarios</h3>
      <a class="info" href="#" data-toggle="modal" data-target="#affiliates_modal"><i class="icon-info"></i> </a>
    </th>

    <th>
      <i class="demo-icon icon-rrhh"></i>
      <h3>RRHH</h3>
      <a class="info" href="#" data-toggle="modal" data-target="#rrhh_modal"><i class="icon-info"></i> </a>
    </th>
  </tr>
</thead>

<tbody>
  <tr class="providers_bar hidden">
    <td colspan='7'>
      <div class="row input">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
          <a class="btn-tag hidden btn-compare" href="#">Comparar ahora</a>
          <!-- TODO selected providers (JS) -->
          <span class="provider-names"></span>
        </div>
      </div>
    </td>
  </tr>
