<table class="col-md-12 table" id="listado">
  <thead>
    <tr id="filtros">
      <th>
        <a href="#" id="prestador_info">
          <span class="glyphicon glyphicon-info-sign"> </span>
        </a>
        <i class="icon-01"></i>
        <label>Prestador</label>
      </th>
      <th data-sort="float" data-sort-default="asc">
        <a href="#" id="tiempos_info">
          <span class="glyphicon glyphicon-info-sign"> </span>
        </a>
        <i class="icon-02"></i>
        <label>Tiempos de espera</label>
        <i class="icon-down-open" id="time-sort"> </i>
      </th>
      <th>
        <a href="#" id="derechos_info">
          <span class="glyphicon glyphicon-info-sign"> </span>
        </a>
        <i class="icon-00"></i>
        <label>Derechos de usuarios</label>
      </th>
      <th data-sort="float" data-sort-default="asc">
        <a href="#" id="tickets_info">
          <span class="glyphicon glyphicon-info-sign"> </span>
        </a>
        <i class="icon-04"></i>
        <label>Tickets y órdenes</label>
        <i class="icon-down-open" id="ticket-sort"> </i>
      </th>
      <th>
        <a href="#" id="metas_info">
          <span class="glyphicon glyphicon-info-sign"> </span>
        </a>
        <i class="icon-03"></i>
        <label>Metas asistenciales</label>
      </th>
      <th>
        <a href="#" id="socios_info">
          <span class="glyphicon glyphicon-info-sign"> </span>
        </a>
        <i class="icon-06"></i>
        <label>Cantidad de socios</label>
      </th>
      <th>
        <a href="#" id="rrhh_info">
          <span class="glyphicon glyphicon-info-sign"> </span>
        </a>
        <i class="icon-05"></i>
        <label>Recursos humanos</label>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render 'referencia' %>
    <%= render 'info_modals' %>
    <%= render 'table_body' %>
  </tbody>
</table>
<div id="loading">
  <%= image_tag('loading.gif', alt: "Cargando") %>
</div>
