<table class="table" id="listado">
  <tbody>
    <tr id="filtros">
      <td>
        <i class="icon-01"></i>
        <label>Prestador de salud</label>
        <ul class="filtro-hidden">
          <li>
            <span class="round-btn">1</span>
            Sede Primaria
          </li>
          <li>
            <span class="round-btn">2</span>
            Sede Secundaria
          </li>
          <li>
            <span class="round-btn">P</span>
            Policlínicas
          </li>
          <li>
            <span class="round-btn">U</span>
            Urgencia
          </li>
        </ul>
      </td>
      <td>
        <i class="icon-02"></i>
        <label>Tiempo de espera</label>
        <ul class="filtro-hidden">
          <li>
            <span class="round-btn">1</span>
            Medicina gral.
          </li>
          <li>
            <span class="round-btn">2</span>
            Cirugía gral.
          </li>
          <li>
            <span class="round-btn">P</span>
            Pediatría
          </li>
          <li>
            <span class="round-btn">G</span>
            Ginecología
          </li>
          <li>
            <span class="round-btn">M</span>
            Médico de referencia
          </li>
        </ul>
      </td>
      <td>
        <i class="icon-03"></i>
        <label>Metas asistenciales</label>
        <ul class="filtro-hidden">
          <li>
            <span class="round-btn">S</span>
            Satisfaccion
          </li>
          <li>
            <span class="round-btn">A</span>
            Disp.agenda
          </li>
          <li>
            <span class="round-btn">T</span>
            Tramites
          </li>
          <li>
            <span class="round-btn">M</span>
            Disp. medicam.
          </li>
          <li>
            <span class="round-btn">D</span>
            Info. derechos
          </li>
          <li>
            <span class="round-btn">Q</span>
            Recep. quejas
          </li>
        </ul>
      </td>
      <td>
        <i class="icon-04"></i>
        <label>Costo promedio</label>
        <ul class="filtro-hidden">
          <li>
            <span class="round-btn">M</span>
            Medicamentos
          </li>
          <li>
            <span class="round-btn">T</span>
            Tickets
          </li>
          <li>
            <span class="round-btn">U</span>
            Urgencia
          </li>
          <li>
            <span class="round-btn">E</span>
            Estudios
          </li>
        </ul>
      </td>
      <!-- <td> -->
      <!--   <i class="icon&#45;05"></i> -->
      <!--   <label>Personal disponible</label> -->
      <!--   <ul class="filtro&#45;hidden"> -->
      <!--     <li> -->
      <!--       <span class="round&#45;btn">G</span> -->
      <!--       Medicos generales -->
      <!--     </li> -->
      <!--     <li> -->
      <!--       <span class="round&#45;btn">F</span> -->
      <!--       Medicos familia -->
      <!--     </li> -->
      <!--     <li> -->
      <!--       <span class="round&#45;btn">P</span> -->
      <!--       Pediatras -->
      <!--     </li> -->
      <!--     <li> -->
      <!--       <span class="round&#45;btn">G</span> -->
      <!--       Ginecólogos -->
      <!--     </li> -->
      <!--     <li> -->
      <!--       <span class="round&#45;btn">E</span> -->
      <!--       Enfermeros -->
      <!--     </li> -->
      <!--     <li> -->
      <!--       <span class="round&#45;btn">E</span> -->
      <!--       Lic. en Enfermería -->
      <!--     </li> -->
      <!--   </ul> -->
      <!-- </td> -->
      <td>
        <%= image_tag("menu/derechos.png", alt: "Derechos de usuarios") %></br>
        <label>Derechos de usuarios</label>
      </td>
      <td>
        <i class="icon-06"></i>
        <label>Cantidad de socios</label>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <button class="referencias">
          Ver referencias
        </button>
      </td>
    </tr>
    <%= render 'table_body' %>
  </tbody>
</table>
