<h1>Sobre el proyecto</h1>
<p>
  En ocasión de la apertura del período de Movilidad Regulada (febrero de cada año), el Ministerio de Salud Pública pone a disposición de los usuarios un conjunto de datos sobre las Instituciones que integran el Seguro Nacional de Salud. Se entiende que dicha información es de interés para los usuarios en general y concretamente para aquellos que están evaluando la posibilidad de cambiar de Institución de Salud. Cada año, la misma ha sido publicada a través de la página web institucional.
</p>
<p></p>
<p></p>
<p></p>
