<%= render partial: 'layouts/header'%>
<section>
  <article>
    <div class="content">
      <h2>Nuevo Régimen de Afiliaciones al Seguro Nacional de Salud</h2>
      <p>Desde el 1º de marzo de 2021 comienza a regir en el Sistema Nacional de Salud un nuevo régimen que regula los procesos de incorporación de los ciudadanos a la cobertura de la atención médica por el Seguro Nacional de Salud, la libre elección de institución prestadora y los mecanismos de cambio de prestador.</p>
      <p>El nuevo régimen garantiza la libre elección del usuario, contemplando a la vez la continuidad del proceso de atención médica mediante la permanencia en el mismo prestador por un período mínimo de 2 años, que se entiende razonables y también compatible con la estabilidad de las instituciones de salud.</p>
      <p>En la nueva normativa se prioriza siempre la voluntad del usuario, respetando la elección de prestador asistencial que haya realizado con anterioridad. En función de ello, cada vez que ingresa, reingresa o modifica su condición de beneficiario en el Seguro Nacional de Salud (por ejemplo al pasar de activo a pasivo) el Seguro,Nacional de Salud lo reincorpora de oficio a la última institución de salud que el beneficiario haya elegido, otorgándole igualmente un plazo de 180 días para cambiarse.</p>
      <p>Desde la aprobación de la Ley 18.211 en el año 2007, el ingreso de los beneficiarios al Seguro Nacional de Salud se produjo en forma gradual. Ello ha determinado la aprobación de diversas normas reglamentarias, contemplando las condiciones particulares de cada caso. Este hecho generó un marco normativo complejo y de difícil interpretación, lo que en algunos casos limitaba el ejercicio de los derechos de los usuarios del Sistema Nacional de Salud.</p>
    </div>
    <div class="terms content">
      <p>En el nuevo régimen de afiliaciones se ordena y actualizan en una norma unificada los procedimientos y disposiciones en materia de afiliación, registro y cambio de prestador de los beneficiarios del Seguro Nacional de Salud. La nueva normativa está contenida en el <a href="https://medios.presidencia.gub.uy/legal/2020/decretos/12/cons_min_361.pdf">Decreto 324/2020 de 15 de diciembre de 2020.</a></p>
      <p>Podrá encontrar más información en la información publicada en los sitios web del <a href="https://www.gub.uy/ministerio-salud-publica/comunicacion/noticias/nuevo-regimen-afiliaciones-seguro-nacional-salud">Ministerio de Salud Pública</a>, y del <a href="https://www.bps.gub.uy/16772/cambio-de-prestador-de-salud.html">Banco de Previsión Social</a>.</p>
      <p>Ante cualquier duda o necesidad de información aclaratoria, comuníquese con la Junta Nacional de Salud: <a href="mailto:junasa@msp.gub.uy">junasa@msp.gub.uy</a>.</p>
    </div>
  </article>
</section>
