<div class="content pages">
    <div class="section">
        <h1>Denuncias</h1>
        <div class="columns">
            <div class="column column-left">
                <p>Ante dificultades o situaciones que requieran antención especial, existe un procedimiento que brinda a las/os usuarias/os la posibilidad de presentar denuncias o realizar sugerencias de mejora ante su prestador de salud. El trámite es totalmente digital, no tiene costo y está supervisado por el Ministerio de Salud Pública.</p>
                <p>A su vez, según la <a href="https://www.impo.com.uy/bases/decretos-reglamento/192-2019">normativa</a>, todo servicio de salud deberá contar con un Departamento de Atención al Usuario, encargado de informar, orientar y atender a las/os usuarias/os, así como de recibir y gestionar denuncias, reclamos, sugerencias y agradecimientos, dentro de los plazos y condiciones establecidos.Para el registro de las gestiones realizadas, el Departamento deberá utilizar el sistema web proporcionado por el Ministerio de Salud Pública (MSP), mencionado en el punto anterior.</p>
                <p>Además, los servicios de salud deberán informar claramente a sus usuarias/os sobre: la ubicación, días y horarios de atención del Departamento de Atención al Usuario, que deberá funcionar en un lugar accesible dentro de la institución; los medios disponibles para brindar información, realizar comunicaciones, notificaciones y trámites; y los canales habilitados para presentar consultas, solicitudes o reclamos.</p>
                <p>A tales efectos, deberán estar disponibles y debidamente difundidos los números telefónicos, direcciones de correo electrónico y demás medios de contacto que permitan una comunicación ágil con las/os usuarias/os.</p>
                <a href="https://www.gub.uy/tramites/sistema-unico-denuncias-instituciones-salud">Iniciar trámite en línea</a>
            </div>
            <div class="column column-right">
                <div class="tag highlighted green column">
                    <%= File.read("#{Rails.root}/public/images/magnifying-glass.svg").html_safe %>
                    <h2>Atención a la ciudadanía MSP</h2>
                    <p>La información de esta sección es una guía básica para temas centrados en prestadores del Sistema Nacional Integrado de Salud, recomendamos visitar la sección de <a href="https://www.gub.uy/ministerio-salud-publica/ciudadania">Atención a la Ciudadanía</a> en el sitio del Ministerio de Salud Pública, para acceder a más información y canales de atención para estos y otrs temas.</p>
                </div>
                <div class="tag highlighted green column">
                    <%= File.read("#{Rails.root}/public/images/messages.svg").html_safe %>
                    <h2>Consultas al departamento de atención al usuario</h2>
                    <p>Una consulta refiere a cualquier duda o incertidumbre que puedan presentar los usuarios del Sistema Nacional Integrado de Salud, referidas a cualquier momento del proceso asistencial, aspectos administrativos, normativos u otros.</p>
                    <a href="https://www.gub.uy/tramites/consultas-departamento-atencion-usuario">Iniciar trámite en línea</a>
                </div>
                <div class="tag highlighted green column">
                    <%= File.read("#{Rails.root}/public/images/book-medical.svg").html_safe %>
                    <h2>Librillo de derechos y deberes</h2>
                    <p>¿Qué derechos y deberes tengo como parte de la población usuaria del Sistema Nacional Integrado de Salud?</p>
                    <a href="https://www.gub.uy/ministerio-salud-publica/ciudadania">Descargar PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
