<% [:estructura, :metas, :precios, :tiempos_espera, :satisfaccion_derechos].each do |group| %>
  <tr>
    <td colspan="4" class="table-title"><h5><%= title(group) %></h5><td>
  </tr>
  <% columns_name_description(group).each do |name, column| %>
    <tr>
      <td class="pivot"><%= name %></td>
      <% @selected_providers.each do |provider| %>
      <td>
        <%
           value = provider.send(column.to_sym)
           if value && value.is_a?(Numeric) %>
        <%= number_with_precision(value, precision: 2) %>
        <% end  %>
        </td>
      <% end %>
    </tr>
  <% end %>
<% end %>
