lalalalal
<% [:estructura, :metas, :precios, :tiempos_espera, :satisfaccion_derechos].each do |group| %>
  <tr>
    <td colspan="4"><h1><%= title(group) %></h1><td>
  </tr>
  <% columns_name_description(group).each do |name, column| %>
    <tr>
      <td><%= name %></td>
      <% @selected_providers.each do |provider| %>
        <td><%= provider.send(column.to_sym) %></td>
      <% end %>
    </tr>
  <% end %>
<% end %>
