<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Estructura</h4>
      </div>
      <div class="modal-body">
        <h5>
          La gráfica refleja los distintos tiempos de espera promedio según sus colores correspondientes. A mayor cantidad de íconos coloreados, mayor tiempo de espera, siendo todos los íconos coloreados equivalente al número resultante de la suma de todos los tiempos de espera del prestador con mayores tiempos de espera.</h5>

        <h3>En todos los casos:</h3>
        <p>Diferencia entre la fecha de solicitud de la cita y la fecha de la cita médica otorgada.</p>

        <h3>En el caso de ASSE: </h3>
        <p>Promedios de tiempos de espera calculados con información correspondiente a 142 unidades asistenciales de un total de 800. Siendo de las 142, la mayoría Unidades de Primer Nivel de Atención del interior del país, donde las especialidades tienen una oferta limitada.</p>

      </div>
      <div class="modal-footer">
        <p>Por más información sobre la construcción de los indicadores, puede consultar la <a href="#">Guía Metodológica de Movilidad Regulada de los usuarios del Seguro Nacional de Salud - FONASA.</a></p>
        <p>Los datos sin procesar están disponibles para ser descargados desde el <a href="#">Catálogo Nacional de Datos Abiertos</a>.</p>
      </div>
    </div>
  </div>
</div>
