<table class="table table-striped table-compare">
  <thead>
    <tr class="criterio">
      <th>CRITERIO</th>
      <% selected_providers.each do |provider| %>
        <th>
          <%= provider.nombre_abreviado %>
          <%= link_to '<i class="icon-trash"></i>'.html_safe,
              '#',
              data: {provider: provider.id},
              class: 'remove_provider'
            %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'group_data' %>
    <%= render partial: 'sites' %>
  </tbody>
</table>
</div>
