<!-- Hidden part fixed for scrolling -->
<div id="fixed-versus" class="block">
  <table class="table table-head">
    <tbody>
      <tr>
        <td class="col-md-3">
          <h3 style="text-align:left">Estas comparando:</h3>
        </td>
        <td>
          <h3><%= provider.nombre_abreviado %></h3>
          <%= link_to provider.web, "http://#{provider.web}" %>
          <a class="icon-delate" href="#"><span>Borrar</span><i class="fa fa-trash"></i></a>
        </td>
        <!-- Sólo si segundo o tercero: <span class="title-vs"> vs </span> -->
      </tr>
    </tbody>
  </table>
