<h1>Comparando </h1>

<table>
<% @providers.each do |provider| %>
<tr>
  <% columns_name_description(:estructura).each do |name, column| %>
    <td><%= provider.send(column.to_sym) %></td>
    <br/>
  <% end %>
</tr>
<% end %>
</table>


