<header class='comparative_header'>
  <a class="logo" href="/">Atuservicio.uy</a>
  <ul class="nav nav-pills">
    <li role="presentation">
      <a href="/sobre_el_proyecto">Sobre el proyecto</a></li>
    <li>
      <a  href="javascript:void(0);" onclick="javascript:introJs().start();">
        Como funciona?
      </a>
    </li>
  </ul>
</header>
<section>
  <div class="page-header">
    <h1>Error interno en la aplicación.</h1>
  </div>
  <div class="well well-lg">
    <ul>
      <li><%= link_to "Volver al inicio", '/' %></li>
      <li><%= link_to "Reportar el problema", 'mailto:contacto@datauy.org' %></li>
    </ul>
  </div>
</section>
