<header class='comparative_header'>
  <a class="logo" href="/">Atuservicio.uy</a>
  <ul class="nav nav-pills">
    <li role="presentation">
      <a href="/">Inicio</a></li>
    <li>
    <li role="presentation">
      <a href="/sobre_el_proyecto">Sobre el proyecto</a></li>
    <li>
  </ul>
</header>
<section>
  <div class="page-header">
    <h1>Página no encontrada</h1>
  </div>
  <div class="well well-lg">
    <%= link_to "Volver al inicio", '/' %>
  </div>
</section>
