
.icon-00:before { content: '\e800'; } /* '' */
.icon-01:before { content: '\e801'; } /* '' */
.icon-02:before { content: '\e802'; } /* '' */
.icon-03:before { content: '\e803'; } /* '' */
.icon-04:before { content: '\e804'; } /* '' */
.icon-05:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e806'; } /* '' */
.icon-06:before { content: '\e807'; } /* '' */
.icon-cross:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-money:before { content: '\e80a'; } /* '' */
.icon-number01:before { content: '\e80b'; } /* '' */
.icon-number02:before { content: '\e80c'; } /* '' */
.icon-number03:before { content: '\e80d'; } /* '' */
.icon-sms:before { content: '\e80e'; } /* '' */
.icon-tick:before { content: '\e80f'; } /* '' */
.icon-trash:before { content: '\e810'; } /* '' */
.icon-user:before { content: '\e811'; } /* '' */
.icon-vs:before { content: '\e812'; } /* '' */
.icon-question:before { content: '\e813'; } /* '' */