.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 100%;
  overflow-x: scroll;
  &.side {
    grid-template-columns: 1fr;
  }
  .card {
    padding: 24px;
    background: #FFF;
    border-radius: 24px;
    height: 100%;
    color: #505050;
    overflow: hidden;
    font-size: 14px;
    .card-header {
      .header-top {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          height: 24px;
        }
        .fa-circle-info {
          color: var(--color-azul-dark);
          font-size: 20px;
        }
      }
      h3 {
        padding: 20px 0;
        width: fit-content;
        font-weight: 600;
        color: var(--color-azul-presidencia);
      }
      .border-bottom {
        width: 30px;
        border-bottom: 2px solid #003da5;
      }
    }
    .card-content {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-top: 20px;
      .values {
        display: flex;
        gap: 10px;
        font-size: 16px;
        flex-wrap: wrap;
        &.percent {
          .result {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 8px;
            align-items: center;
            span {
              min-width: fit-content;
              &.price {
                padding: 4px 8px;
                background: var(--color-green-03);
                color: var(--color-green-04);
                font-size: 12px;
                font-weight: 500;
                border-radius: 24px;
              }
            }
            .bar {
              width: 100%;
              position: relative;
              background: var(--color-gris-06);
              border-radius: 256px;
              .total-bar {
                width: inherit;
                background: var(--color-gris-06);
                border-radius: 256px;
                height: 11px;
                position: absolute;
              }
              .percent-bar {
                height: 11px;
                background: var(--color-green-02);
                border-radius: 256px;
                position: relative;
              }
              &.price {
                width: fit-content;
                img {
                  position: relative;
                  z-index: 11;
                }
                .percent-bar {
                  height: 100%;
                  border-radius: 0;
                  position: absolute;
                  top: 0;
                }
              }
            }
          }
        }
        &.users-total {
          flex-direction: column;
          gap: 0;
          .result {
            font-size: 46px;
          }
        }
      }
    }
    button {
      font-size: 12px;
      font-weight: 600;
      padding: 12px 16px;
      
    }
    &.site {
      .card-header {
        h3 {
          padding-bottom: 0;
        }
        .border-bottom {
          display: none;
        }
      }
    }
  }
}

#sites_grid.cards,
#infra_grid.cards {
  .card {
    background: var(--color-azul-4);
    h3 {
      color: var(--color-azul-presidencia);
    }
  }
}