#comparar h1{
    color: #0d2f74;
    padding-bottom: 20px;
    border-bottom: solid 2px #484848;
}

#comparar h2{
    font-size: 15px;
}

#comparar h4{
    font-size: 12px;
}

#comparar .criterio{
    border-bottom: solid 1px #e8e8e8;
    border-top: solid 1px #e8e8e8;
    display: block;
    padding: 15px 15px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#comparar ul.menu{
    margin-bottom: 0;
}

.criterio li{
    margin-right: 30px;
}

.table-title{
    background-color: #19547e;
    color: #fff;
    text-transform: capitalize;
}