/* Autocomplete menu*/
.ui-widget-content{
    background: #fff;
    border: 1px solid #aaa;
    padding: 0;
    margin-right: 30%;
}

.ui-menu-item{
    list-style-type: none;
    padding: 10px;
}
.ui-menu-item:hover{
    background-color: #3FA6C9;
}

.progress.icons{
  width: 140px !important;
  height: 27px !important;
}

.progress.icons .progress-bar{
    border-right: 2px solid #3fa6c9;
}

.progress_icons{
    z-index: 1040;
    position: absolute;
    top: 0;
    left: 0;
}

.home #fixed-versus{
    z-index: 1060;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.txt-info h4 a{
    font-size: 20px !important;
}

table.sites td{
    height: 20px;
    text-align: left;
    font-size: 12px;
}
table.sites th a{ color: #fff; }
table.sites td i:before {font-size:18px; }
table.sites td span.nodata {
    display: inline-block;
    font-size: 10px !important;
    line-height: 10px !important;
    max-height: 8px !important;
}

.state_sites{
    width:100%;
    display: block;
    margin-bottom: 10px;
}

.state_title{
    background: #3FA6C9;
}

.state_title a{
    color: #fff;
}

.site_name a{
    color: #333 !important;
}

.providers_bar td{
    background:#3FA6C9;
    height: 30px !important;
}

.social{
    list-style-type: none;
}

.social li{
    display: inline;
    line-height: 40px;
    vertical-align: middle;
}

.social .twitter{
    padding-top: 1px;
}
.filter-wrapper {
  position: relative;
  padding: 40px 0 20px;
}
.input-icon {
  height: 18px;
  position: absolute;
  top: 52px;
  left: 10px;
}
#filter {
  padding-left: 36px;
  height: 40px;
  width: 100%;
  color: #999;
  border: 1px solid #ccc;
}
#search{
    padding: 10px 20px !important;
    height: 42px;
}
#states {
  height: 40px;
}
/* Times */
.block_preview tr {
  overflow: visible;
}
td.times {
  /*position: relative;
  z-index: 999;*/
  overflow: visible;
}
.time-overlay {
  top: 0;
  min-height: 100%;
  width: calc(100% - 14px);
  position: absolute;
  background: rgba(0, 82, 164, 0.9);
  /*z-index: 1050;*/
  overflow: visible;
}
.time-overlay p {
  color: #fff;
  padding: 0 30px;
  font-size: 13px;
  z-index: 1050;
  position: absolute;
}
.header-select {
  background: #0052A4;
  color: white;
  font-size: 10px;
  font-weight: 300;
  border: 1px solid #fff;
  border-radius: 3px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 3px 20px 2px 4px;
  position: relative;
}
.times .info {
  margin-bottom: 12px;
  display: block;
}
.arrow {
  border: solid #fff;
  display: inline-block;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border-width: 0 3px 3px 0;
  padding: 10px;
  position: relative;
  left: calc(50% - 8px);
  top: 30px;
  margin-bottom: 40px;
}

.down {
  border-width: 0 1px 1px 0;
  padding: 2px;
  position: relative;
  bottom: 7px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
div.warning {
  display: inline-flex;
  background: #0052A4;
  padding: 24px 10%;
  color: #fff;
  margin-bottom: 30px;
}
div.warning h3 {
  font-weight: bold;
}
div.warning svg {
  min-width: 60px;
  margin-right: 5%;
}
.loader{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: relative;
  margin: auto auto 0 30px;
  display: none;
}

/* LOADER 1 */

.loader:before, .loader:after{
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #3498db;
}

.loader:before{
  z-index: 100;
  animation: spin 0.2s infinite;
}

.loader:after{
  border: 10px solid #ccc;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
