/* Autocomplete menu*/
.ui-widget-content{
    background: #fff;
    border: 1px solid #aaa;
    padding: 0;
}

.ui-menu-item{
    list-style-type: none;
    padding: 10px;
}
.ui-menu-item:hover{
    background-color: #3FA6C9;
}

.progress.icons{
    width: 96px !important;
    height: 17px !important;
}

.progress.icons .progress-bar{
    border-right: 2px solid #3fa6c9;
}

.progress_icons{
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
}

.home #fixed-versus{
    z-index: 99999;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.txt-info h4 a{
    font-size: 20px !important;
}

table.sites td{
    height: 20px;
    text-align: left;
    font-size: 12px;
}
table.sites th a{ color: #fff; }
table.sites td i:before {font-size:18px; }
table.sites td span.nodata {
    display: inline-block;
    font-size: 10px !important;
    line-height: 10px !important;
    max-height: 8px !important;
}

.state_sites{
    width:100%;
    display: block;
    margin-bottom: 10px;
}

.state_title{
    background: #3FA6C9;
}

.state_title a{
    color: #fff;
}

.site_name a{
    color: #333 !important;
}

.providers_bar td{
    background:#3FA6C9;
    height: 30px !important;
}

.social{
    list-style-type: none;
}

.social li{
    display: inline;
    line-height: 40px;
    vertical-align: middle;
}

.social .twitter{
    padding-top: 1px;
}

#search{
    padding: 10px 20px !important;
    height: 42px;
}