// Place all the styles related to the fnr controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.fnr {
  text-align: center;
  margin-bottom: 120px;
  h1 {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  h3 {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      margin-bottom: 10px;
      width: 100%;
      text-align: left;
    }
  }
  .filter {
    .row {
      display: flex;
      .col-md-4 {
        align-self: center;
        display: flex;
        button {
          margin: auto;
        }
      }
      &.center {
        text-align: center;
        justify-content: center;
        margin: 30px auto 60px;
      }
      span {
        margin: auto 20px;
      }
    }
  }
  .graphs {
    .graph-values {
      width: 60px;
      height: 20px;
    }
    #graph-stats-legend span {
      float: left;
      width: calc(100% - 20px);
    }
    text {
      font-weight: bold;
    }
    tspan {
      color: #FFF;
    }
    .toggle.active {
      background-color: #0B2F47;
      color: #fff;
    }
    .toggle-right {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 5px 15px 5px 10px;
    }
    .toggle-left {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 5px 10px 5px 15px;
    }
    #stats-total {
      float: left;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
.square {
  min-width: 20px;
  height: 20px;
  width: 20px;
  float: right;
}
