// Place all the styles related to the fnr controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.fnr {
  text-align: center;
  h3 {
  }
  ul {
    list-style: none;
    li {
      display: flex;
      align-items: center;
    }
  }
  .filter {
    .row {
      display: flex;
      .col-md-4 {
        align-self: center;
        display: flex;
        button {
          margin: auto;
        }
      }
      &.center {
        text-align: center;
        justify-content: center;
        margin: 30px auto 60px;
      }
    }
  }
  .graphs {
    margin-top: 60px;
    margin-bottom: 20px;
    .graph-values {
      width: 60px;
      height: 20px;
      font-weight: bold;
    }
  }
}
.square {
  min-width: 20px;
  height: 20px;
  width: 20px;
}
