.map-wraper {
  display: flex;
  #map {
    height: 800px;
    min-width: 60%;
  }
  #map-controls {
    padding: 40px 5%;
    background-color: var(--color-azul-4);
    display: flex;
    max-height: 800px;
    overflow-y: scroll;
    position: relative;
    .initial {
      display: flex;
      flex-direction: column;
      gap: 24px;
      #location {
        width: fit-content;
      }
    }
    .zone-info {
      display: none;
      position: absolute;
      background: var(--color-azul-4);
      width: 100%;
      height: 100%;
      left: 0px;
      top: 18px;
      flex-direction: column;
      padding: 80px 60px;
      gap: 24px;
      transform: translate(100%, 0);
      transition: transform 330ms ease-in-out;
      &.visible {
        display: flex;
        transform: translate(0,0);
      }
      button.close {
        right: 24px;
        left: auto;
      }
    }
    .map-services-filters {
      .tag {
        width: 100%;
        .row {
          gap: 16px;
        }
      }
    }
  }
  .leaflet-popup-content-wrapper {
  }

  .leaflet-popup-content-wrapper .leaflet-popup-content {
  }
}
.tabs {
  padding: 0 5% 80px;
  .tabs-title {
    .tabs-filters {
      display: flex;
      margin-top: 24px;
      gap: 15px;
      width: fit-content;
    }
  }
  .tabs-header {
    margin: 60px auto 40px;
    display: flex;
    button {
      padding: 12px 24px;
      border-bottom: 1px solid var(--color-gris-03);
      line-height: 1.375;
      color: var(--color-gris-03);
      display: flex;
      align-items: center;
      gap: 8px;
      &[aria-expanded="true"] {
        color: var(--color-azul-presidencia);
        font-weight: 600;
        border-bottom: 2px solid;
        .fas {
          color: var(--color-azul-presidencia);
        }
      }
    }
  }
}
#compare-bar {
  display: none;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  gap: 12px;
  padding: 24px 40px;
  justify-content: space-between;
  align-items: center;
  background: #ceedf4;
  border-radius: 24px;
  margin-bottom: 24px;
  button {
    font-size: 10px;
    color: var(--color-azul-presidencia);
    &.main-button {
      color: #FFF;
      font-size: 12px;
      font-weight: 600;
      padding: 12px 16px;
    }
  }
  h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }
}
#compare_list {
  display: flex;
  gap: 32px;
  align-items: center;
  .provider-compare {
    display: flex;
    gap: 8px;
    align-items: center;
    background: #FFF;
    padding: 4px 16px;
    border-radius: 1000px;
  }
}

#news {
  display: flex;
  gap: 40px;
  margin: 60px 5%;
  padding: 20px 0 60px 0;
  border-bottom: 1px solid #e2e2e2;
  justify-content: space-between;
  .card {
    background: var(--color-azul-4);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
    justify-content: space-between;
    .content {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .head {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: var(--color-gris-01);
        font-size: 12px;
        font-weight: 600;
      }
      h2 {
        color: var(--color-azul-presidencia);
      }
    }
    .main-button {
      width: fit-content;
    }
  }
}

.empty-square {
  border-radius: 40px;
  background: #E6E6E6;
  height: 400px;
  width: 30%;
}

.zone-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .address {
    grid-column: span 3;
  }
  .main-button {
    width: fit-content;
  }
}