.content {
  padding: 100px 10%;
  color: var(--color-gris-03);
  font-size: 16px;
  .section {
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid #d6d6d6;
    gap: 24px;
    display: flex;
    flex-direction: column;
    .tag {
      svg {
        width: 56px;
        min-width: 56px;
        color: #27abcd;
        padding: 16px;
        border-right: 1px solid #ceedf4;
        margin-right: 16px;
        height: auto;
      }
      span {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  img.photo {
    max-height: 400px;
    width: auto;
    border-radius: 24px;
    align-self: center;
  }
  h3 {
    color: var(--color-azul-presidencia);
  }
}