.pia .ui-menu-item:hover{
  background: #F8F8F8;
}

.pia #accordion h5 {
  color: #2e6da4;
  border-bottom: 1px solid #93A3AE;
  padding: 10px;
  position: relative;
}

.pia #accordion button{
  color: #337ab7;
  background: transparent;
  text-decoration: none;
}

.pia .card{
  border: none;
  margin: 10px;
}

.pia .card-body p {
  padding-left: 2.25rem;
}

.pia .filters-title{
  padding-left: 1.25rem;
}

.pia .pias-search-btn{
  background: #2e6da4 !important;
  color: white;
}

.pia .pias-search-btn:hover{
  background: white !important;
  color:  #2e6da4;
}

.pia .card-header, .pia .card-header:first-child{
  background: transparent;
  border-bottom: none;
}

.pia .pias-link, .pia .pias-link:hover{
  width: 100%;
  font-size: 16px;
  display: inline-block;
  color: #337ab7;
  text-align: left;
  border-bottom: 1px solid #93A3AE;
  padding: 10px;
  text-decoration: none;
}

.pia .pias-link span{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.pia .pias-link-icon{
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.pia .pias-filters{
  width: 100%;
  display: inline-block;
}

.pia .pias-filters a{
  font-size: 10px;
  border-radius: 60px;
  background: #fff;
  float: left;
  color: #2e6da4;
  padding: 15px 25px;
  box-shadow: 1px 3px 7px rgba(51, 51, 51, 0.2);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  letter-spacing: 1px;
  margin: 5px;
}

.pia .pias-filters a.active ,.pia .pias-filters a:hover{
  transform: translateY(-4px);
  background: #2e6da4;
  color: #fff;
  text-decoration: none;
}

.pia .pias-filter{
  text-transform: uppercase;
}

.pia .search-controls{
  position: fixed;
  z-index: 99999;
  color: #ccc;
  padding: 5px;
  right: 17%;
  margin-top: -44px;
  margin-right: -10px;
  background-color: white;
  border: 1px #9a9a9a solid;
  border-radius: 10px;
  width: 130px;
  text-align: center;
  height: 40px;
  display: none;
}

.pia .search-controls i{
  cursor: pointer;
  padding: 1px;
  color: #9a9a9a;
}

.pia .search-controls i:hover{
  color: rgb(63, 166, 201);
}

.pia .search-controls-actions{
  float: right;
  padding-left: 2px;
  border-left: 1px #ccc solid;
}

.pia mark.current{
  background: yellow;
}

.pia .no-results{
  padding: 5px 0px;
  text-align: center;
  color: orangered;
  font-weight: bold;
  display: none;
}

.pia-cie9{
  color: #007bff;
}
