.provider-summary {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 24px;
  background: #F2F2F2;
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-right {
      display: flex;
      gap: 24px;
    }
  }
}
.provider-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}