.providers {
  margin: 60px 10%;
  z-index: 2;
  position: relative;
  .header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1;
    position: relative;
  }
  .provider-header,
  .filters {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    /*max-height: 300px;*/
    h2 {
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 0px;
    }
  }
  .filters {
    justify-content: end;
    &.filters-mov {
      display: none;
    }
    img {
      width: 16px;
    }
  }
  .compare-header {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    border-bottom: 1px solid var(--color-gris-01);
    position: sticky;
    top: 0;
    background: #ffffffed;
    &.ways2 {
      grid-template-columns: 1.8fr repeat(2, 1fr);
    }
    &.ways3 {
      grid-template-columns: 1.8fr repeat(3, 1fr);
    }
    [type="text"] {
      width: 100%;
    }
  }
  .map-wraper {
    #map-controls {
      .zone-info {
        .row {
          & button.secondary-button {
            display: none;
          }
        }
      }
    }
  }
}
.provider-summary {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 24px;
  background: var(--color-azul-4);
  margin-bottom: 40px;
  &.active {
    background: var(--color-azul-3);
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-left {
      display: flex;
      gap: 24px;
      align-items: center;
      label {
        color: var(--color-gris-01);
        display: flex;
        align-items: center;
        gap: 16px;
      }
      h2 {
        text-decoration: underline;
      }
      .provider-name {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #2c2c2c;
      }
    }
    .header-right {
      display: flex;
      gap: 24px;
      font-size: 16px;
      align-items: center;
      input {
        display: none;
      }
      label {
        font-size: 12px;
      }
      input:checked ~ label {
        &.check {
          display: flex;
        }
        &.not-check {
          display: none;
        }
      }
      input:not(input:checked) ~ label {
        &.check {
          display: none;
        }
        &.not-check {
          display: flex;
        }
      }
    }
  }
}

.section {
  margin: 16px 0;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-gris-03);
  .section-header {
    display: flex;
    gap: 16px;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    .header-right,
    .header-left {
      display: flex;
      align-items: center;
      gap: 16px;
      i {
        color: var(--color-azul-dark);
      }
    }
  }
  .section-content {
    display: none;
    flex-direction: column;
    font-size: 16px;
    color: var(--color-gris-01);
    font-weight: 400;
    gap: 24px;
    padding: 24px 0;
    &.active {
      display: flex;
    }
    &.ways2 {
      .section-inner-content,
      .site-section {
        .row {
          grid-template-columns: 1.8fr repeat(2, 1fr);
        }
      }
    }
    &.ways3 {
      .section-inner-content,
      .site-section {
        .row {
          grid-template-columns: 1.8fr repeat(3, 1fr);
        }
      }
    }
    .section-inner-header {
      display: flex;
      gap: 24px;
      justify-content: space-between;
    }
    .section-inner-content,
    .site-section {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .row {
        margin: 4px 0;
        display: grid;
        grid-template-columns: 1.8fr 1fr;
        width: 100%;
        justify-content: left;
        align-items: center;
        .item {
          padding: 16px;
          display: flex;
          gap: 8px;
          align-items: center;
        }
        .label {
          font-weight: 600;
        }
        .value {
          text-align: end;
        }
      }
      .sites .row {
        align-items: start;
      }
      .row:nth-child(even) {
        background: var(--color-azul-4);
      }
      #sites-list {
        flex-direction: column;
      }
    }
  }
  .depto-content {
    flex-direction: column;
    display: none;
  }
}