@media (max-width: 1280px ) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  h4 {
    font-size: 16px;
  }
  nav {
    ul {
      font-size: 16px;
      gap: 16px;
    }
  }
  .provider-summary {
    .header {
      flex-direction: column;
      gap: 15px;
    }
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }
}

@media (max-width: 900px ) {
  .map-wraper {
    flex-direction: column-reverse;
  }
  header {
    padding: 24px 5%;
    .hamb-wrapper {
      display: block !important;
    }
    .menu-container nav {
      display: none;
      ul {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 800px ) {
  .section {
    .section-content {
        &.ways2 {
          .section-inner-content, & .site-section { 
            .row {
              grid-template-columns: repeat(2, 1fr);
              .label {
                grid-column: span 2;
              }
            }
          }
        }
        &.ways3 {
          .section-inner-content, & .site-section { 
            .row {
              grid-template-columns: repeat(3, 1fr);
              .label {
                grid-column: span 3;
              }
            }
          }
        }
      }
    }
  .providers {
    margin: 60px 5%;
    .filters {
      display: none;
      &.filters-mov {
        display: flex;
      }
    }
    .compare-header {
      &.ways2 {
        grid-template-columns: repeat(2, 1fr);
      }
      &.ways3 {
        grid-template-columns: repeat(3, 1fr);
      }
      .provider-header {
        overflow-x: scroll;
      }
    }
  }
}
@media (max-width: 700px ) {
  h3 {
    font-size: 16px;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .provider-summary {
    align-items: center;
  }
  .map-wraper {
    #map-controls {
      justify-content: center;
    }
  }
  .main-button {
    font-size: 14px;
  }
  #news {
    flex-direction: column;
  }
}
@media (max-width: 600px ) { 
  input {
    width: 100%;
  }
  .main-button {
    width: 100%;
    justify-content: center;
  }
  .section {
    .section-header {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .tabs-header {
    overflow-x: scroll;
  }
  .tabs-filters {
    flex-direction: column;
    width: 100%;
  }
  #compare-bar {
    flex-direction: column;
  }
  .provider-summary {
    .header {
      .header-left, .header-right {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        .provider-name {
          font-size: 12px;
        }
      }
    }
  }
  #news {
    flex-direction: row;
    overflow-x: scroll;
    .card {
      min-width: 75vw;
    }
  }
}
