@media (max-width: 1280px ) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  h4 {
    font-size: 16px;
  }
  nav {
    ul {
      font-size: 16px;
      gap: 16px;
    }
  }
  .provider-summary {
    .header {
      flex-direction: column;
      gap: 15px;
    }
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }
}

@media (max-width: 900px ) {
  .map-wraper {
    flex-direction: column-reverse;
  }
  header {
    padding: 24px 2%;
    .hamb-wrapper {
      display: block !important;
    }
    .menu-container nav {
      display: none;
      ul {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 700px ) {
  .cards {
    grid-template-columns: 1fr;
  }
  .provider-summary {
    align-items: center;
  }
  .map-wraper {
    #map-controls {
      justify-content: center;
    }
  }
  #news {
    flex-direction: column;
  }
}
@media (max-width: 600px ) { 
  input {
    width: 100%;
  }
  .section {
    & .section-content {
      &.ways2 .row {
        grid-template-columns: repeat(2, 1fr);
        label {
          grid-column: span 2fr;
        }
      }
    }
  }
  .tabs-filters {
    flex-direction: column;
    width: 100%;
  }
  .provider-summary {
    .header {
      .header-left, .header-right {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        .provider-name {
          font-size: 12px;
        }
      }
    }
  }
  .main-button {
    width: 100%;
    justify-content: center;
  }
}
