@media (max-width: 600px ) { 
  .section {
    & .section-content {
      &.ways2 .row {
        grid-template-columns: repeat(2, 1fr);
        label {
          grid-column: span 2fr;
        }
      }
    }
  }
  .map-wraper {
    flex-direction: column-reverse;
  }
  .provider-summary {
    .header {
      flex-direction: column;
      .header-right {
        flex-direction: column;
        font-size: 16px;
      }
    }
  }
}