@font-face {
    font-family: 'ats2016';
    src: url('ats2016.eot');
    src: url('ats2016.eot#iefix') format('embedded-opentype'),
    url('ats2016.woff') format('woff'),
    url('ats2016.ttf') format('truetype'),
    url('ats2016.svg#ats2016') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ats2016';
    src: url('animation.eot');
    src: url('animation.eot#iefix') format('embedded-opentype'),
    url('animation.woff') format('woff'),
    url('animation.ttf') format('truetype'),
    url('animation.svg#animation') format('svg');
    font-weight: normal;
    font-style: normal;
}

.form-control:focus {border-color:none !important;}
* {font-family: 'Montserrat', sans-serif; outline: none;}
a:focus { outline: none; text-decoration: none;}
a:hover {text-decoration: underline;}
.table>tbody>tr:nth-of-type(even) { background-color: #F7F7F7; }
.selected { background:rgba(124, 217, 242, 0.18) !important}

#loader { background: rgba(255,255,255,0.8); height: 100%; width: 100%; position: fixed; z-index: 3; display: none;}

.comparative_header {
    background: #0052A4;
    padding:2% 50px;
    display: inline-table;
    width: 100%;
}
.home header { padding:50px; width: 100%; position: relative;}
.home header .nav{
  display: inline-flex;
  align-items: center;
  max-width: 100%;
}
header .nav { display: block; float: right; margin-top: 10px;}
header .nav li a { border:1px solid #fff; border-radius: 30px; color: #fff;font-weight: 300;font-size: 12px; margin-left:10px;}
header .nav li a:hover, header .nav li.active a {background-color: #fff;color: #333}


#logo { width: 40%; min-width: 300px; max-width: 400px;}
#cabezal { width: 100%; margin-top: 32px; }
#logo_color { background: url(logocolor.png) no-repeat;  height:65px; width: 272px;}
#logo_data { height:48px; width: 122px; margin: -9px 22px 0; }
#logo_ats { height: 48px; width: 201px; margin: 3px 0; }
.breadcrumb { width: 100%; background: #EAEAEA; padding:1% 50px; border-radius: 0; color:#E0F2F1; margin-bottom:50px;}
.breadcrumb li a {
    color: #0052A4;
}
section { padding:0 50px;}

/*HOME*/

.home { width: 100%;  background: #fff}
.home   header h1 {
    position: absolute;
    top: 45%;
    width: 30%;
    left: 6%;
    font-weight: 400;
    color: #0052A4;
    letter-spacing: 1px;
    line-height: 45px;
}
.home header .nav li a:not(.logos) {border-color: #0052A4; color: #0052A4}
.home header .nav li a:hover:not(.logos),
.home header .nav li.active a:not(.logos) {
  background-color:#0052A4; color: #fff
}
.home header #animation {
    bottom: -21px;
    position: relative;
    width: 100%;
    height: 353px;
    overflow: hidden;
    left: 0;
}
.home header #animation #clouds { z-index:1; width: 100%; position: absolute;left:-50%;}
.home header #animation #city {
    background: url(bghome.png) no-repeat center;
    height: 353px;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    position: absolute;

}
.home .text-slider { position: absolute; width: 400px; left: 50%; margin-left: -200px;top: 40%}
.home .text-slider h3 { font-size: 20px; text-align: center; width: 400px; line-height: 28px; color: #0052A4;font-weight:700}


.home #filter {  width: 100%;padding:4% 50px}
.home #filter h3 {margin:0;color: #0052A4;font-size: 14px; line-height: 20px }
.home #filter select {
    border-color: #0052A4;
    height: 46px;
    color: #0052A4;
    text-indent: 10px;
}
.home .block_preview tr { border-top: 1px solid #ccc}
.home thead th {background: #0052A4; border: none; }
.home thead th h3 {color: #fff;font-size: 15px; margin: 0}
.home thead th a i {color: #3FA6C9}
.home thead th a i:hover { color: #fff}
.home thead th .demo-icon {color: #fff;font-size: 30px;}
.home  .input select { background: #fff;box-shadow: none;border: 1px solid #fff; width: 50%}
.home .block_preview .table-head-preview th {border-left-color: rgba(11, 47, 71, 0.67)}
.home .table-head-preview tbody h4 {
    font-size: 20px;
    padding: 5px 0;
}

.btn-compare { background: #0052A4 !important;font-size: 14px; color: #fff }
.btn-compare:hover { background: #fff; color: #0052A4; text-decoration: none}
.btn-tag {
    float: right;
    margin-left: 10px;
    border-radius: 30px;
    background: rgba(11, 47, 71, 0.29);
    padding: 10px 35px;
    position: relative;
    text-align: left;
    color: #fff;
    font-size: 12px;
}
.btn-tag a i {
    position: absolute;
    top: 11px;
    right: 13px;
    color: #fff;
    font-size: 16px !important;
    padding: 0;

}
.btn-tag a i:hover { color: #ccc}
.btn-tag p {margin: 0;text-indent: -15px;}

.table-head-preview tbody td {padding-left: 30px;}
.table-head-preview tbody h4 { font-size: 16px;}
.table-head-preview tbody p { }
.table-head-preview .structure {

    text-align: center;
    border: 1px solid #337ab7;
    display: block;
    padding: 10px 5px;
    margin-top: 100px;
    font-size: 10px !important;
    border-radius: 20px;

}
.table-head-preview .structure:hover { background-color: #0052A4; color: #fff;text-decoration: none;border-color:#0052A4}
.table-head-preview .structure_module {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
}
.table-head-preview .structure_module ul { padding:20px}
.table-head-preview .structure_module ul li { list-style: none;}
.table-head-preview .structure_module ul li h4 { font-size: 15px;}
.table-head-preview .structure_module ul li p {
    font-size: 12px;
    margin: 13px 0;
    font-weight: bold;
}

.table-head-preview .structure_module ul li p span {
    font-weight: normal;
    display: block;
}
.table-head-preview .structure_module i::before {font-size: 20px;}
.table-head-preview .structure_module a.cerrar { position: absolute;top:10px;right: 10px;}


.table-head-preview .progress { width: 100%;}
.table-head-preview span { top: 7px !important;}
.home .value {margin-bottom: 20px}
.home .value label {font-size: 10px; width: auto; float: left; margin: 0}
.home .value .txt { width: 100%; display: inline-block;border-bottom: 1px solid #ECECEC}
.home .value label:nth-of-type(even) {float: right;}
.home .value  i {font-size: 20px; margin: 0 -6px}
.home .value .nodata {
    display: inline-block;
    width: 100%;
    font-size: 10px;
    text-align: center;
    line-height: 20px;

}
.home .value .nodata i {margin-left: 1px}
.home .info-nodata {
    text-align: center;
    width: 100%;
    display: inline-block;
    color: #ccc;
    margin: 10px 0;
}
.home .satisfaction { text-align: center;}
.home .satisfaction h4 { margin: 20px 0 0 0}
.home .value .nodata i:before {font-size:18px; }
.home .txt-info { padding-left:0px;}
.home .txt-info p { font-size: 10px; margin-top: 20px;}
.home .txt-info a {font-size: 12px;}
.home .txt-info .checkbox { text-transform: uppercase; margin: 40px 0; color: #186e93}
.home .olddata  {
    font-size: 12px;
    line-height: 30px;
    margin: 0;

}
.home #fixed-versus {padding: 0}
.home #fixed-versus thead th {background: none;border:none;position: relative;text-align: center;padding: 45px 0}
.home #fixed-versus thead th h3 {font-size: 13px; margin: 0}
.home #fixed-versus .info {position: absolute;top: 15px;left: 0;font-size: 16px;}

/*END HOME*/
.share-nav  {padding: 0 !important}
.share-nav li  {
    font-size: 27px;
    color: #ccc;
    display: inline-block;
}
.share-nav li a i:hover { border-color:#333; color: #333}
.share-nav li a i {
    font-size: 20px;
    border: 4px solid #ccc;
    color: #ccc;
    border-radius: 100px;
    width: 40px;
    padding: 6px 8px;
    margin-left: 9px;
    text-align: center;
}

.search-prestadora { margin:0 0 20px 0}
.search-prestadora input { border:1px solid #ccc; border-radius:0; padding: 20px }
.search-prestadora .btn { padding: 10px; background:#ccc; color: #fff}

#fixed-versus {
    background: #0052A4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    z-index: 2;
    display: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
#fixed-versus h3 { font-size: 18px; color: #fff;  padding: 0; margin-top: 25px}
#fixed-versus a { color: #E0F2F1;font-size: 12px}
#fixed-versus td .icon-delate {display: block;color: #fff}
#fixed-versus td { }
#fixed-versus td i {font-size: 100%;}
#fixed-versus .title-vs  { background: #0052A4; color: #fff}

.title-vs {
    content: "vs";
    font-weight: 300;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    color: #929497;
    border-radius: 99px;
    font-size: 12px;
    position: absolute;
    left: -15px;
    top: 50%;
    margin-top: -15px;
    height: 28px;
    width: 28px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    padding:0 !important;
}

.fixed-preview {
    background: #666;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    z-index: 2;
    display: none;

}

.block_preview  th { padding: 10px;text-align: center; width: 14.2%; height: 150px ;vertical-align: middle !important; position: relative; border-left: 1px solid #ccc}
.block_preview .table-head-preview th { border-left: 1px solid #ccc; padding: 2% !important}
.block_preview .table-head-preview th:first-child { border-left: none;}
.block_preview .table-head-preview th h3 {font-size: 12px;}
.block_preview .table-head-preview th a { position: absolute;top: 5px;left: 10px; font-size: 20px; color: #ccc}

.block_preview  tr {}
.tblock_preview { margin: 0}
.block_preview td { position:relative;border-left: 1px solid #ccc;border-top: none !important; width: 14.2%;}
.block_preview td:nth-child(1) {border: none;}

.table-head { margin: 0 0 0px 0; }
.table-head td.col-md-3 {padding: 0; vertical-align: top;text-align:left}
.table-head td.col-md-3 p {color: #929497; width: 40%;font-size: 13px;}
.table-head td { border-left: 1px solid #64FFDA;border-top: none !important;  border-bottom: none !important; }
.table-head td h3 {font-size: 22px; font-weight: 300; margin: 0}
.table-head td a {font-size: 12px; color: #231F20}
.table-head td:nth-child(2), .table-head td:nth-child(1) {border: none;}
.table-head td .icon-delate span { font-size: 12px;}
.table-head td .icon-delate {
    display: none;
    position: absolute;
    font-size: 19px;
    color: #333;
    top: -10px;
    right: 15px;
}
.table-head td:hover > .icon-delate  { display: block;}
.table-head figure { min-height: 100px}
.table-head img {  border: none;box-shadow: none}
.two .table-head img {width: 45%}

.block_title { background:#186E93; }
.block_title h4 {}
.block_title h4 .info { background-color: #3FA6C9; padding:15px 5px}
.block_title h4 a { color: #fff;display: block; font-size: 18px; display: inline-block;}
.block_title h4 a:hover {text-decoration: none;}
.block_title h4 a i:before { font-size: 16px}
.block_title .demo-icon:before {font-size: 20px;}

.block_title .button-info i {font-size: 20px; display: inline}

.block  {margin-bottom:2px;}
.block td  { height:110px;padding: 5px;text-align: center; width: 20%; vertical-align: middle; position: relative; border-left: 1px solid #ccc}
.block td:nth-child(1) { border-left: none;}
.block td > * { padding: 8px}
.block td p {font-size: 15px;}

.block .col-left {text-align: left;}
.block .col-left p {max-width:80%;font-size: 14px;font-weight: normal; margin: 0}

.block h5 { font-size: 18px;color: #231F20}
.block h5 small { font-size: 80%;padding-right: 5px;color:#231F20}
.block h5 i {
    color: #C8D5DA;
    position: absolute;
    right: 0;
    top:33%;
}
.block i {font-size: 100%; padding:10px}

.progress { height: 35px; background:#E6E7E8; box-shadow: none;padding: 0 !important; border-radius: 0; margin: 0;position: relative;}
.progress .progress-bar {
    background: #3fa6c9;
    border-right: 2px solid #186e93;
}
.progress span {
    position: absolute;
    left: 20px;
    top: 7px;
    color: #0052A4;
}
.block_preview .progress {height:30px; margin: 0}

.value {display: inline-block; width: 100%;margin-bottom: 10px;}
.value label {display: inline-block; width: 100%; font-size: 14px; font-weight:normal; margin: 0 0 5px 0}
.socios { text-align: center;}
.free { color: #A8D26F; margin: 0 }
.free p {display: inline-block; padding: 0; margin: 0}
.nodata { color: #0052A4;margin: 0}
.nodata p {display: inline-block;padding: 0;margin: 0;text-transform: uppercase;}
.asse {
    font-size: 12px !important;
    text-align: left;
    width: 65%;
    line-height: 18px;
    color: #666;
    border-left: 2px solid #333;
    padding: 2px 14px !important;
}
.asse p{
  font-size: 12px !important;
}
.people i { display: block;font-size: 30px; text-indent: -10px ; color: #186E93}
.money-high { color: #0052A4;}
.money i { }
.tags li {display: inline-block;}
.list {  width: 40%;float: left;margin-left: 10%}
.list:last-child { margin-left: 0}
.list li {list-style-type:disc;text-align:left;font-size: 11px; margin-bottom: 0px; list-style-position: inside;}
.list li:first-child { list-style-type: none;}
.list li h5 { font-size: 14px;}

[class^="icon-"]:before, [class*=" icon-"]:before {
                             font-family: "ats2016";
                             font-style: normal;
                             font-weight: normal;
                             speak: none;

                             display: inline-block;
                             text-decoration: inherit;
                             width: 1em;
                             margin-right: .2em;
                             text-align: center;
                             /* opacity: .8; */

                             /* For safety - reset parent styles, that can break glyph codes*/
                             font-variant: normal;
                             text-transform: none;

                             /* fix buttons height, for twitter bootstrap */
                             line-height: 1em;

                             /* Animation center compensation - margins should be symmetric */
                             /* remove if not needed */
                             margin-left: .2em;

                             /* you can be more comfortable with increased icons size */
                             /* font-size: 120%; */

                             /* Font smoothing. That was taken from TWBS */
                             -webkit-font-smoothing: antialiased;
                             -moz-osx-font-smoothing: grayscale;

                             /* Uncomment for 3D effect */
                             /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
                         }

.icon-info:before { content: '\e807'; }
.icon-ok:before { content: '\e806';font-size: 40px; color: #A8D26F }
.icon-no:before { content: '\e805';font-size: 40px; color: #0052A4  }
.icon-sad:before { content: '\e802';font-size: 30px; color: #0052A4  }
.icon-happy:before { content: '\e803'; font-size: 30px; color: #A8D26F }
.icon-derechos:before { content: '\e808'; }
.icon-money:before { content: '\e801'; }
.icon-estructura:before { content: '\e809'; }
.icon-calendar:before { content: '\e80a'; }
.icon-price:before { content: '\e80b'; }
.icon-metas:before { content: '\e80c'; }
.icon-rrhh:before { content: '\e80d'; }
.icon-sedes:before { content: '\e80e'; }
.icon-consultas:before { content: '\e804'; }
.icon-socios:before { content: '\e80f'; }
.icon-clock:before { content: '\e810';color: #3fa6c9 }
.icon-user:before { content: '\e811'; color: #3fa6c9 }
.icon-coin:before { content: '\e812';color: #3fa6c9  }
.icon-cross:before { content: '\e813'; }
.icon-person:before { content: '\e800';color:#3fa6c9 } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.disable:before { color: #dddddc}
.icon-person {font-size: 80px; }


footer { background: #E6E7E8; padding: 2% 6%;}
footer p {font-size: 12px; line-height: 22px; color:#666}
footer h4 { color: #666}
footer a { color: #42B4E7; font-size: 11px;}
#bottom_footer { border-top:1px solid  #ccc; padding: 20px 0; margin-top: 20px}
.modal-content { padding:10% 7%; box-shadow: none;border-radius: 10px; border:none;}
.modal-title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px solid #42B4E7;
    display: inline-block;
    letter-spacing: 2px;
}
.modal-body { padding: 0; margin: 20px 0}
.modal-body h5 {font-size:13px;line-height: 19px;}
.modal-body h3 {font-size:16px;font-weight: bold;}
.modal-body p { font-size: 13px;}
.modal-header {padding: 0 0px;border-bottom:1px solid #42B4E7}
.close {opacity:1}
.modal-footer { border-color: #42B4E7;text-align: left;padding: 20px 0 0 0}
.modal-footer p {color: #605C5D; font-size: 12px;}
.modal-footer a { color:#42B4E7 }



/* fade slider */
.slides {
    height: 100px;
    overflow: hidden;
    position: relative;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );

}
.slides ul {
    list-style:none;
    position:relative;
}

/* keyframes #anim_slides */
@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

.slides ul li {
    opacity:0;
    position:absolute;
    top:0;

    /* css3 animation */
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_slides;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

/* css3 delays */
.slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
                                 -webkit-animation-delay: 6.0s;
                                 -moz-animation-delay: 6.0s;
                             }
.slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
                                 -webkit-animation-delay: 12.0s;
                                 -moz-animation-delay: 12.0s;
                             }
.slides ul  li:nth-child(4), .slides ul  li:nth-child(4) div {
                                 -webkit-animation-delay: 18.0s;
                                 -moz-animation-delay: 18.0s;
                             }
.slides ul li span {
    display:block;
}

/* keyframes #anim_titles */
@-webkit-keyframes anim_titles {
    0% {
        top:-50px;
        opacity:0;
    }
    5% {
        top:0;
        opacity:1;
    }
    20% {
        top:0;
        opacity:1;
    }
    25% {
        top:50px;
        opacity:0;
    }
    100% {
        top:50px;
        opacity:0;
    }
}
@-moz-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}

.slides ul li div {

    font-size: 18px;
    left: 10%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    width: 330px;
    color: #0052A4;

    /* css3 animation */
    -webkit-animation-name: anim_titles;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_titles;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}
.about section {padding: 0}
.about .content { padding: 4%}

.about article h2 {font-size: 24px; text-transform: uppercase;font-family: 'Montserrat', sans-serif;font-weight: bold; margin:0 0 50px 0;}
.about article p {font-size: 14px;line-height: 24px;}
.about article figure { position: relative; margin: 20px; text-align: right;}
.about article figure  img { width: 100%}
.about article .title {

    border-bottom: 1px solid #42B4E7;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.about article h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px solid #42B4E7;
    display: inline-block;
    letter-spacing: 2px;
    margin-bottom: 0;
    padding-bottom: 20px;
}
.about article figure figcaption { position: absolute;bottom: 0; left: 0; width: 100%; background:black; padding: 20px;}
.content-color {background: #e6e7e8}
.terms { color: #666; font-size: 12px; margin: 20px 0; background:rgba(64, 167, 201, 0.08); padding: 20px; line-height: 20px;}

.social { padding: 0}
.social li {line-height: 11px}

/* Winona */

.button--winona {
    overflow: hidden;
    padding: 0;
    -webkit-transition: border-color 0.5s, background-color 0.5s;
    transition: border-color 0.5s, background-color 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    color: #0052A4;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
}
.button--winona > span {
    display: block;
}
.button--winona.button--inverted {
    color: #7986cb;
}
.button--winona.button--inverted:after {
    color: #fff;
}
.button--winona::after,
.button--winona > span {
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    font-size: 12px;
}
.button--winona:hover {
    border-color: #0052A4;
    background-color:#0052A4;
}
.button--winona.button--inverted:hover {
    border-color: #0052A4;
    background-color: #0052A4;

}
.button--winona:hover::after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #fff;
    padding: 10px 15px;
}
.button--winona:hover > span {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
}


/* Common button styles */
.button {
    display: block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    border-color: #0052A4;
    color: #0052A4;
    border:1px solid #0052A4;
    border-radius: 40px;
    background: #fff;

}
.button:focus {
    outline: none;
}
.button > span {
    vertical-align: middle;
}

.bg-2 .button {
    color: #ECEFF1;
    border-color: #ECEFF1;
}

/* Sizes */
.button--size-s {
    font-size: 14px;
}

.cloud {font-size: 30px}
.icon-untitled-3:before { content: '\e523'; color:#03abcd} /* '' */
.icon-untitled-2:before { content: '\e524';color:#03abcd} /* '' */
.icon-untitled-1:before { content: '\e525';color:#03abcd} /* '' */

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left:0%;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: 0%;
    }
    100% {
        margin-left: 80%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: 0%;
    }
    100% {
        margin-left: 100%;
    }
}

@-webkit-keyframes animateCloud-one {
    0% {
        margin-left:20%;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud-one {
    0% {
        margin-left: 20%;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud-one {
    0% {
        margin-left: 20%;
    }
    100% {
        margin-left: 100%;
    }
}

@-webkit-keyframes animateAmbulance {
    0% {
        margin-left:-10%;
    }
    100% {
        margin-left: 300%;
    }
}

@-moz-keyframes animateAmbulance {
    0% {
        margin-left:-10%;
    }
    100% {
        margin-left:300%;
    }
}

@keyframes animateAmbulance {
    0% {
        margin-left:-10%;
    }
    100% {
        margin-left: 300%;
    }
}


/* ANIMATIONS */

.x1 {
    -webkit-animation: animateCloud-one 75s linear infinite;
    -moz-animation: animateCloud-one 75s linear infinite;
    animation: animateCloud-one 75s linear infinite;

    opacity: 0.5;
}

.x2 {
    -webkit-animation:  animateCloud-one 100s linear infinite;
    -moz-animation:  animateCloud-one 100s linear infinite;
    animation:  animateCloud-one 100s linear infinite;
}

.x3 {
    -webkit-animation: animateCloud 200s linear infinite;
    -moz-animation: animateCloud 200s linear infinite;
    animation: animateCloud 200s linear infinite;
    opacity: 0.3;
}

.x4 {
    -webkit-animation: animateCloud 50s linear infinite;
    -moz-animation: animateCloud 50s linear infinite;
    animation: animateCloud 50s linear infinite;
    opacity: 0.2;
}

.x5 {
    -webkit-animation: animateCloud 30s linear infinite;
    -moz-animation: animateCloud 30s linear infinite;
    animation: animateCloud 30s linear infinite;
    opacity: 0.3;
}
.x6 {
    -webkit-animation:  animateAmbulance 40s linear infinite;
    -moz-animation:  animateAmbulance 40s linear infinite;
    animation:  animateAmbulance 40s linear infinite;
}
.x7 {
    -webkit-animation:  animateAmbulance 100s linear infinite;
    -moz-animation:  animateAmbulance 100s linear infinite;
    animation:  animateAmbulance 100s linear infinite;
}
.ambulance {
    background: url(ambulance.png) no-repeat;
    height: 47px;
    width: 67px;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: -50%;
}
