body{
    font-family: 'Open Sans', sans-serif;
}

ul.menu > li{
    display: inline-block;
}

#header{
    background-color: #0d2f74;
    background: url(bg.jpg);
    overflow: hidden;
    color: #fff;
    padding-bottom: 80px;
}

#header h2{
    font-size: 23px;
    line-height: 32px;
    position: relative;
}

#header h2 i{
    color: #000;
    position: absolute;
    left: -2px;
    top: 2px;
    font-size: 30px;
}

#header a{
    color: #fff;
}

.header-select .col-md-4 > *{
    padding-left: 39px;
}

#header select{
    color: #000;
}

.header-info, .header-select{
    padding-top: 87px;
}

#nav-menu{
    float: right;
    position: absolute;
    top: 1em;
    right: 1em;
}

#nav-menu ul.menu li{
    margin-right: 15px;
}
#nav-menu ul.menu li a{
    font-size: 12px;
    font-weight: bold;
}

#logos{
    text-align: center;
}

#logos{
    max-width: 100%;
}

#logos ul li{
    margin: 14px;
}

.entendi{
    border-radius: 3px;
    background-color: #135380;
    border: 0;
    padding: 10px 55px;
}

.contenido{
    margin-left: 20px;
    margin-bottom: 26px;
    border-bottom: 1px solid #d8dde1;
    padding-bottom: 15px;
}

#filtros{
    text-align: center;
}

#filtros td{
    background: #135380;
    width: 16.6%;
    color: #fff;
    border: solid 1px #fff;
}

#filtros td i{
    font-size: 60px;
    clear: both;
    color: #000;
    display: block;
}

#filtros ul.menu > li:hover{
    background: #0d2f74;
}


#filtros ul.menu > li label{
    margin: 10px 0 5px 0;
    padding:0;
    font-size: 13px;
}

#filtros .referencia-td{
    padding: 0;
    margin-top: 10px;
    border-top: 10px solid #fff;
    margin-left: -10px;
    text-align: left;
}

.referencia-td li{
    color: #0d2f74;
    list-style: none;
    margin: 10px;
    font-size: 11px;
}

.round-btn{
    background: #1a2a4c;
    border-radius: 50%;
    color: #fff;
    height: 20px;
    display: block;
    width: 20px;
    text-align: center;
    float: left;
    margin-right: 4px;
    line-height: 20px;
    font-size: 13px;
}
.sedes{clear: both}

.float_left{
    float: left;
    margin-right: 2px;
}

.text_center{
    text-align: center;
}

.structure_icons span{
    display: inline-block;
}

.icon-cross{
    color: #f00;
}
.icon-tick{
    color: #0F0;
}

.icon-tick, .icon-cross{
    font-size: 30px;
    margin-left: -30px;
}

.celeste{
    background: #BCE6F9;
}

.marino{
    background: #1A557D;
}

.azul{
    background: #1A77B9;
}

.verde{
    background: #34B475;
}

.azul_claro{
    background: #29ABDF;
}

.fuxia{
    background: #902C8E;
}

.magenta{
    background: #ED4363;
}

.magenta{
    background: #ED4363;
}

#referencias{
    background: #c2d1e2;
}

.referencias{
    font-size: 13px;
    border-radius: 15px;
    padding: 6px 15px;
}

.estructura{
    float: left;
    margin-right: 4px;
}

span.wrapper{
    display: block;
    margin: 0;
    padding: 0;
}

.comparision-header{
    height: 80px;
    background: #0d2f48;
}

.comparision-header ul{
    float: right;
    display: block;
    margin: 25px 10px;
}

.comparision-header ul li{
    margin-left: 30px;
}

.comparision-header a{
    color: #fff;
    font-weight: bold;
}

.comparision-header a:hover{
    border-bottom: 1px solid #fff;
    text-decoration: none;
    padding-bottom: 4px;
}

.criterio{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid #e8e8e8;
    border-top: 2px solid #e8e8e8;
}

#comparision a i{
    font-size: 30px;
    color: #bebebe;
    padding: -10px;
}

.site_title{
    text-transform: uppercase;
    margin: 10px 0;
}

.site_address{
    margin: 20px auto;
    display: block;
    font-weight: bold;
}

.accordion_cell{
    vertical-align: text-top;
}

.ui-accordion-header{
    background: #fff;
    border: 0;
}

#listado{
    margin-top: 20px;
    color: #135380;
}

#listado progress{
    clear: both;
    display: block;
}

#footer{
    background-color: #d9e4ec;
    overflow: hidden;
}

.footer-info{
    background-color: #edf4f9;
    padding: 64px 24px;
}

.footer-pad{
    height: 150px;
    display: block;
    padding: 60px;
    text-align: center;
}

.footer-pad ul.menu li{
    margin-right: 40px;
}

#footer .datos-abiertos{
    background: url(datosabiertos.png) right center no-repeat;
    padding-right: 100px;
}