@font-face {
  font-family: 'ats2016';
  src: url('ats2016.eot');
  src: url('ats2016.eot#iefix') format('embedded-opentype'),
       url('ats2016.woff') format('woff'),
       url('ats2016.ttf') format('truetype'),
       url('ats2016.svg#ats2016') format('svg');
  font-weight: normal;
  font-style: normal;
}


* {font-family: 'Montserrat', sans-serif; outline: none;}
:focus {outline:none;}
a:hover {text-decoration: underline;}
.table>tbody>tr:nth-of-type(even) { background-color: #F7F7F7;}

#loader { background: rgba(255,255,255,0.8); height: 100%; width: 100%; position: fixed; z-index: 3; display: none;}

.comparative_header {
 background: #0B2F47;
 padding:2% 4%;
 display: inline-table;
 width: 100%;
}
header .nav { display: block; float: right; margin-top: 10px;}
header .nav li a { border:1px solid #fff; border-radius: 0; color: #fff;font-weight: 300;font-size: 12px; margin-left:10px;}
header .nav li a:hover, header .nav li.active a {background-color: #fff;color: #333}


#logo { background: url(logo.png);display: block; height:59px; width: 262px; float:left;text-indent:-9000px;font-size: 0; margin:0 0 10px 0}
.breadcrumb { width: 100%; background: #EAEAEA; padding:1% 4%; border-radius: 0; color:#E0F2F1; margin-bottom:50px;}
.breadcrumb li a {
   color: #0B2F47;
}
section { padding:0 4%}

/*HOME*/
.home_header {background: none; display: inline-block;}

.table-head-preview {}

/*END HOME*/
.share-nav  {padding: 0 !important}
.share-nav li  { 
    font-size: 27px;
    color: #ccc;
    display: inline-block;
}
.share-nav li a i:hover { background: none; color: #0B2F47}
.share-nav li a i {font-size: 25px; color: #929497}

.search-prestadora { }
.search-prestadora input { border:1px solid #ccc; border-radius:0; padding: 20px }
.search-prestadora .btn { padding: 10px; background:#ccc; color: #fff}

#fixed-versus {
	background: #0B2F47;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    z-index: 2;
    display: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
#fixed-versus h3 { font-size: 18px; color: #fff;  padding: 0; margin-top: 25px}
#fixed-versus a { color: #E0F2F1;font-size: 12px}
#fixed-versus td .icon-delate {display: block;color: #fff}
#fixed-versus td { }
#fixed-versus td i {font-size: 100%;}
#fixed-versus .title-vs  { background: #0B2F47; color: #fff}

.title-vs {
    content: "vs";
    font-weight: 300;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    color: #929497;
    border-radius: 99px;
    font-size: 12px;
    position: absolute;
    left: -15px;
    top: 50%;
    margin-top: -15px;
    height: 28px;
    width: 28px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    padding:0 !important;
}

.fixed-preview { 
background: #666;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    z-index: 2;
    display: none;

}

.block_preview  th { padding: 10px;text-align: center; width: 14.2%; height: 150px ;vertical-align: middle !important; position: relative; border-left: 1px solid #ccc}
.block_preview .table-head-preview th { border-left: 1px solid #ccc; padding: 2% !important}
.block_preview .table-head-preview th:first-child { border-left: none;}
.block_preview .table-head-preview th h3 {font-size: 16px}
.block_preview .table-head-preview th a { position: absolute;top: 5px;left: 10px; font-size: 20px; color: #ccc}

.block_preview  tr {}
.tblock_preview { margin: 0}
.block_preview td { border-left: 1px solid #ccc;border-top: none !important; width: 14.2%;}
.block_preview td:nth-child(1) {border: none;}

.table-head { margin: 0 0 0px 0; }
.table-head td.col-md-3 {padding: 0; vertical-align: top;text-align:left}
.table-head td.col-md-3 p {color: #929497; width: 40%;font-size: 13px;}
.table-head td { border-left: 1px solid #64FFDA;border-top: none !important;  border-bottom: none !important; }
.table-head td h3 {font-size: 22px; font-weight: 300; margin: 0}
.table-head td a {font-size: 12px; color: #231F20}
.table-head td:nth-child(2), .table-head td:nth-child(1) {border: none;}
.table-head td .icon-delate span { font-size: 12px;}
.table-head td .icon-delate {
	display: none;
	position: absolute;
    font-size: 19px;
    color: #333;
    top: -10px;
    right: 15px;
}
.table-head td:hover > .icon-delate  { display: block;}
.table-head figure { min-height: 100px}
.table-head img { width: 70%; border: none;}
.two .table-head img {width: 45%}

.block_title { background:#186E93; }
.block_title h4 {}
.block_title h4 .info { background-color: #3FA6C9; padding:15px 5px}
.block_title h4 a { color: #fff;display: block; font-size: 18px; display: inline-block;}
.block_title h4 a:hover {text-decoration: none;}
.block_title h4 a i:before { font-size: 16px}	
.block_title .demo-icon:before {font-size: 20px;}

.block_title .button-info i {font-size: 20px; display: inline}

.block  {margin-bottom:2px;}
.block td  { height:110px;padding: 5px;text-align: center; width: 20%; vertical-align: middle; position: relative; border-left: 1px solid #ccc}
.block td:nth-child(1) { border-left: none;}
.block td > * { padding: 8px}
.block td p {font-size: 15px;}

.block .col-left {text-align: left;}
.block .col-left p {max-width:80%;font-size: 14px;font-weight: normal; margin: 0} 

.block h5 { font-size: 18px;color: #231F20}
.block h5 small { font-size: 80%;padding-right: 5px;color:#231F20}
.block h5 i {
      color: #C8D5DA;
      position: absolute;
      right: 0;
      top:33%;
}
.block i {font-size: 100%; padding:10px}

.progress { height: 35px; background:#E6E7E8; box-shadow: none;padding: 0 !important; border-radius: 0; margin: 0;position: relative;}
.progress .progress-bar { background: #A8D26F;}
.progress span {
      position: absolute;
    left: 20px;
    top: 7px;
    color: #fff;
}
.block_preview .progress {height: 20px; margin: 0}

.value {display: inline-block; width: 100%}
.value label {display: inline-block; width: 100%; font-size: 12px; font-weight:normal; margin: 0}
.socios { text-align: center;}
.free { color: #A8D26F; margin: 0 }
.free p {display: inline-block; padding: 0; margin: 0}
.nodata { color: #0B2F47;margin: 0}
.nodata p {display: inline-block;padding: 0;margin: 0}
.asse { 
    font-size: 12px !important;
    text-align: left;
    width: 46%;
    line-height: 18px;
    color: #666;
    border-left: 2px solid #333;
    padding: 2px 14px !important;
}
.people i { display: block;font-size: 30px; text-indent: -10px ; color: #186E93}
.money-high { color: #0B2F47;}
.money i { }
.tags li {display: inline-block;}
.list {  width: 40%;float: left;margin-left: 10%}
.list:last-child { margin-left: 0}
.list li {list-style-type:disc;text-align:left;font-size: 11px; margin-bottom: 0px; list-style-position: inside;}
.list li:first-child { list-style-type: none;Æ’}
.list li h5 { font-size: 14px;}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ats2016";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-info:before { content: '\e807'; } 
.icon-ok:before { content: '\e806';font-size: 40px; color: #A8D26F } 
.icon-no:before { content: '\e805';font-size: 40px; color: #0B2F47  }
.icon-sad:before { content: '\e802';font-size: 30px; color: #0B2F47  } 
.icon-happy:before { content: '\e803'; font-size: 30px; color: #A8D26F }
.icon-derechos:before { content: '\e808'; }
.icon-cancel:before { content: '\e800'; } 
.icon-money:before { content: '\e801'; } 
.icon-estructura:before { content: '\e809'; } 
.icon-calendar:before { content: '\e80a'; } 
.icon-price:before { content: '\e80b'; } 
.icon-metas:before { content: '\e80c'; } 
.icon-rrhh:before { content: '\e80d'; } 
.icon-sedes:before { content: '\e80e'; } 
.icon-consultas:before { content: '\e804'; } 




footer { background: #E6E7E8; padding: 2% 4%;}
footer p {font-size: 12px; line-height: 20px; color:#666}
footer h4 { color: #666}
footer a { color: #42B4E7; font-size: 11px;}

.modal-content { padding:10% 7%; box-shadow: none;border-radius: 10px; border:none;}
.modal-title {
     font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px solid #42B4E7;
    display: inline-block; 
    letter-spacing: 2px;
}
.modal-body { padding: 0; margin: 20px 0}
.modal-body h5 {font-size:13px;line-height: 19px;}
.modal-body h3 {font-size:16px;font-weight: bold;}
.modal-body p { font-size: 13px;}
.modal-header {padding: 0 0px;border-bottom:1px solid #42B4E7}
.close {opacity:1}
.modal-footer { border-color: #42B4E7;text-align: left;padding: 20px 0 0 0}
.modal-footer p {color: #605C5D; font-size: 12px;}
.modal-footer a { color:#42B4E7 }
