body{
    font-family: 'Open Sans', sans-serif;
}

ul.menu > li{
    display: inline-block;
}

#header{
    background-color: #0d2f74;
    background: url(bg.jpg);
    overflow: hidden;
    color: #fff;
    padding-bottom: 80px;
}

#header h2{
    font-size: 23px;
    line-height: 32px;
    position: relative;
}

#header h2 i{
    color: #000;
    position: absolute;
    left: -2px;
    top: 2px;
    font-size: 30px;
}

#header a{
    color: #fff;
}

.header-select .col-md-4 > *{
    padding-left: 39px;
}

#header select{
    color: #000;
}

.header-info, .header-select{
    padding-top: 87px;
}

#nav-menu{
    float: right;
    position: absolute;
    top: 1em;
    right: 1em;
}

#nav-menu ul.menu li{
    margin-right: 15px;
}
#nav-menu ul.menu li a{
    font-size: 12px;
    font-weight: bold;
}

#logos{
    text-align: center;
}

#logos{
    max-width: 100%;
}

#logos ul li{
    margin: 14px;
}

.entendi{
    border-radius: 3px;
    background-color: #135380;
    border: 0;
    padding: 10px 55px;
}

.contenido{
    margin-left: 20px;
    margin-bottom: 26px;
    border-bottom: 1px solid #d8dde1;
    padding-bottom: 15px;
}

#filtros{
    text-align: center;
}

#filtros td{
    background: #135380;
    width: 16.6%;
    color: #fff;
    border: solid 20px #fff;
}

#filtros td i{
    font-size: 60px;
    clear: both;
    color: #000;
}

#filtros ul.menu > li:hover{
    background: #0d2f74;
}

#filtros ul.menu > li label{
    margin: 10px 0 5px 0;
    padding:0;
    font-size: 13px;
}

#filtros .filtro-hidden{
    position: absolute;
    padding: 0;
    background: #c2d1e2;
    margin-top: 10px;
    border-top: 10px solid #fff;
    width: 174px;
    margin-left: -10px;
    text-align: left;
    display: none;
}

#filtros .filtro-hidden li{
    color: #0d2f74;
    list-style: none;
    margin: 10px;
    font-size: 11px;
}

.round-btn{
    background: #1a2a4c;
    border-radius: 50%;
    color: #fff;
    height: 20px;
    display: block;
    width: 20px;
    text-align: center;
    float: left;
    margin-right: 10px;
    line-height: 20px;
    font-size: 13px;
}

.referencias{
    font-size: 13px;
    border-radius: 15px;
    padding: 6px 15px;
}

.comparision-header{
    height: 80px;
    background: #0d2f48;
}

.comparision-header ul{
    float: right;
    display: block;
    margin: 25px 10px;
}

.comparision-header ul li{
    margin-left: 30px;
}

.comparision-header a{
    color: #fff;
    font-weight: bold;
}

.comparision-header a:hover{
    border-bottom: 1px solid #fff;
    text-decoration: none;
    padding-bottom: 4px;
}


#comparision a i{
    font-size: 30px;
    color: #bebebe;
    padding: -10px;
}

#listado{
    margin-top: 20px;
    color: #135380;
}

#footer{
    background-color: #d9e4ec;
    overflow: hidden;
}

.footer-info{
    background-color: #edf4f9;
    margin-bottom: 150px;
    padding: 64px 24px;
}

#footer .datos-abiertos{
    background: url(datosabiertos.png) right center no-repeat;
    padding-right: 100px;
}
