body{
    font-family: 'Open Sans', sans-serif;
}

ul.menu > li{
    display: inline-block;
}

#header{
    background-color: #0d2f74;
    background: url(bg.jpg);
    overflow: hidden;
    color: #fff;
    padding-bottom: 80px;
}


#header a{
    color: #fff;
}
#header ul {
-webkit-padding-start: 0px;
}


#header select{
    color: #000;
}

.header-info {
    text-align: left;
}
.header-info .top-bar {
    padding-bottom: 87px;
}
.top-bar-internal {
       background-color: #273D4B;
       height: 50px;
}

.top-bar-internal img {
    width: 39%;
    position: relative;
    top: 5px;
}
.top-bar-internal a {
       color: #fff;
}
#nav-menu{
    float: right;
    position: absolute;
    top: 1em;
    right: 1em;
}

#nav-menu ul.menu li{
    margin-right: 15px;
}
#nav-menu ul.menu li a{
    font-size: 12px;
    font-weight: bold;
}

#logos{
    text-align: center;
}

#logos{
    max-width: 100%;
}

#logos ul li{
    margin-right: 60px;
}
.social {
    padding-top: 15px;
    list-style-type: none;
}
.social li {
    display: inline;
}
.social .fb_iframe_widget {
    top:-6px;
}
.header-select {
    background-color: #135380;
    padding: 12px 20px 18px;
    margin: 15px 0;
}
.header-select h2{
    font-size: 23px;
    line-height: 32px;
    position: relative;
    color: #fff;
    margin-top: 10px;
}

.header-select h2 i{
    color: #fff;
    position: absolute;
    left: -2px;
    top: 2px;
    font-size: 30px;
}
.header-select .col-md-4 > *{
    padding-left: 39px;
}
.header-select button {
    border: 0;
    margin-bottom: 10px;
}
.header-select select {
    width: 80%;
}
.header-select [class^="icon-"]:before, .header-select [class*=" icon-"]:before {
    width: 1.4em;
    text-align: left;
}
.more-data {
    background-color: #0f4a74;
    border-radius: 5px;
    text-align: center;
}
.header-select .col-md-4.more-data p,
.header-select .col-md-4.more-data h2 {
    padding-left: 0;
}
.header-select .col-md-4.more-data h2 {
   font-size: 20px;
}
#filtros, #filtros th {
    position: relative;
    text-align: center;
}
.contenido{
    margin-bottom: 26px;
    padding: 0 20px 15px;
}
.container {
    padding-top: 36px;
}

#filtros th{
    background: #e4e4e4;
    width: 14.2%;
    color: #000;
    border: solid 1px #fff;
    padding: 16px 8px 8px;
    vertical-align: top;
}

#filtros th i{
    font-size: 48px;
    clear: both;
    color: #000;
    display: block;
    padding-bottom: 5px;
}

#filtros ul.menu > li:hover{
    background: #0d2f74;
}

#filtros .icon-down-open{
    font-size: 12px;
    position: absolute;
    right: 3px;
    cursor: pointer;
}

#filtros ul.menu > li label{
    margin: 10px 0 5px 0;
    padding:0;
    font-size: 13px;
}

#filtros .referencia-td{
    padding: 0;
    margin-top: 10px;
    border-top: 10px solid #fff;
    margin-left: -10px;
    text-align: left;
}

#filtros span.glyphicon{
    float: left;
}

#filtros th a span:hover{
    color: #fff;
}

.stick {
    position:fixed;
    top:0px;
}

.referencia-td {
    padding-top: 0;
}

.referencia-td li{
    color: #0d2f74;
    list-style: none;
    margin: 10px;
    font-size: 11px;
}

.round-btn{
    background: #1a2a4c;
    border-radius: 50%;
    color: #fff;
    height: 16px;
    display: block;
    width: 17px;
    text-align: center;
    float: left;
    margin-right: 4px;
    font-size: 13px;
}

.sedes{clear: both}

.float_left{
    float: left;
    margin-right: 2px;
}

.text_center{
    text-align: center;
}

.structure_icons span{
    display: inline-block;
}

.icon-cross,
.icon-cancel-1{
    color: #f00;
}
.icon-tick,
.icon-ok-1{
    color: #01d601;
}

.icon-clock, .icon-user, .icon-money, .icon-user{
    color: #dedede;
    background: none !important;
}

.icon-clock.celeste, .icon-money.celeste, .icon-user.celeste{
    color: #BCE6F9;
}

.icon-clock.marino, .icon-money.marino, .icon-user.marino{
    color: #1A557D;
}

.icon-clock.azul, .icon-money.azul, .icon-user.azul{
    color: #1A77B9;
}

.icon-clock.verde, .icon-user.verde, .icon-money.verde, .icon-user.verde{
    color: #34B475;
}

.icon-clock.azul_claro, .icon-user.azul_claro{
    color: #29ABDF;
}

.icon-clock.fuxia, .icon-user.fuxia{
    color: #902C8E;
}

.icon-tick, .icon-cross, .icon-cancel-1, .icon-ok-1{
    font-size: 20px;
}

.icon-emo-unhappy{
    font-size: 30px;
}

.progress-bar .icon-emo-unhappy{
    display: inline;
    font-size: 10px;
}
.progress {
    margin-bottom: 10px;
}
.celeste{
    background: #BCE6F9;
    color: #1A557D;
}

.marino{
    background: #1A557D;
}

.azul{
    background: #1A77B9;
}

.verde{
    background: #34B475;
}

.azul_claro{
    background: #29ABDF;
}

.fuxia{
    background: #902C8E;
}

.magenta{
    background: #ED4363;
}

.no-data{
    color: #000;
    min-width: 100px;
    background: none;
}

#referencias{
    background: #c2d1e2;
}
#referencias td{
    border: solid 1px #fff;
}
.btn-references{
    font-size: 12px;
    border-radius: 15px;
    padding-bottom: 3px;
    padding-top: 2px;
    left: 6px;
    position: relative;
}
.estructura{
    float: left;
    margin-right: 4px;
}

span.wrapper{
    display: block;
    margin: 0;
    padding: 0;
}

.comparision-header{
    height: 80px;
    background: #0d2f48;
}

.comparision-header ul{
    float: right;
    display: block;
    margin: 25px 10px;
}

.comparision-header ul li{
    margin-left: 30px;
}

.comparision-header a{
    color: #fff;
    font-weight: bold;
}

.comparision-header a:hover{
    border-bottom: 1px solid #fff;
    text-decoration: none;
    padding-bottom: 4px;
}
.compare {
    padding-bottom: 25px;
}
tr.table-title {
background-color: #19547e;
}
.criterio{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 0 10px;
    border-bottom: 4px solid #999;
    border-top: 1px solid #fff;
}

.table>thead>tr.criterio>th {
    padding: 9px 0 20px 0;
    font-weight: bolder;
}
.table.table-compare>thead>tr,
.table.table-compare>tbody>tr {
    border-bottom: 1px solid #ddd;
}
.table.table-compare>thead>tr>th,
.table.table-compare>tbody>tr>td {
    border-bottom:none;
    border-top: none;
}
#comparision a i{
    font-size: 30px;
    color: #bebebe;
    padding: -10px;
    position: relative;
    top: -3px;
    left: -10px;
}

.site_title{
    text-transform: uppercase;
    margin: 10px 0;
}

.site_address{
    margin: 20px auto;
    display: block;
    font-weight: bold;
}

.accordion_cell{
    vertical-align: text-top;
}

.ui-accordion-header{
    background: #fff;
    border: 0;
}

/*#listado{
    color: #135380;
}*/

#listado progress{
    clear: both;
    display: block;
}

#footer{
    background-color: #d9e4ec;
    overflow: hidden;
}

.footer-info{
    background-color: #edf4f9;
    padding: 64px 24px;
}

.footer-pad{
    height: 150px;
    display: block;
    padding: 60px;
    text-align: center;
}

.footer-pad ul.menu li{
    margin-right: 40px;
}

#footer .datos-abiertos{
    background: url(datosabiertos.png) right center no-repeat;
    padding-right: 100px;
}

.hidden{
    display: none;
}
