@media only screen and (max-width: 480px) {
  #logo { width: 100%; display: inline;}
  #logo_ats {
    width: calc(60% - 10px);
    margin: 20px 10px 10px 0;
    float: left;
  }
  #logo_data {
    width: calc(40% - 10px);
    margin: 13px 0 10px 10px;
    float: left;
  }
  .home header .nav,
  header .nav {
    display: grid;
    float: left;
  }
  .home header .nav li,
  header .nav li {
    margin: 5px 0;
  }
  .section-header {
    flex-direction: column;
  }
}
