<% Indicator.where(is_active: true, section_id: section["id"]).order(:weight).each do |ind| %>
  <div class="row">
    <div class="item label"><%= ind.description %></div>
    <% for i in 0..(@providers.length - 1)%>
      <div class="item"><%= format_number(section['data'][i][ind.id], ntype) %></div>
    <% end %>
  </div>
<% end %>