<% level = nil %>
<% site['data'].each do |sd| %>
  <% if level != sd.level %>
    <% level = sd.level %>
    <div class="tag"><%= link_to sd.level, '#' %></div>
    <div class="backdrop">
      <div class="list">
  <% end %>
        <div class="item label"></div>
      </div>
    </div>
<% end %>