<div class="provider-summary">
  <div class="header">
    <div class="header-left">
      <h3><%= provider.short_name %></h3>
    </div>
    <div class="header-right">
      <div class="provider-name"><%= provider.name %></div>
      <div class="provider-web"><%= provider.web %></div>
    </div>
  </div>
  <div class="provider-cards">
    <div class="empty-square"></div>
    <div class="empty-square"></div>
    <div class="empty-square"></div>
  </div>
</div>