<%= turbo_stream.update("provider_list") do %>
  <ul data-controller="compare" >
  <% @list.keys.each do |key| %>
    <li data-action="click->compare#addProvider" data-compare-value="<%= key %>"><%= @list[key] %></li>
  <% end %>
  </ul>
<% end %>