<%= turbo_stream.update("provider_list") do %>
  <% if @type == 'summary' %>
    <% @providers.each do |p| %>
      <%= render partial: '/provider/summary', locals: {provider: p} %>
    <% end %>
  <% else %>
  <div class="list" >
    <% @providers.keys.each do |key| %>
      <button data-action="click->compare#submitWithProvider" value="<%= key %>"><%= @providers[key] %></li>
    <% end %>
  </div>
  <% end %>
<% end %>