<!-- ASSE exceptions -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="asse_espacio_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <p>En ASSE se cuenta con 57 Espacios Adolescentes distribuidos en todo el país (33 en el Interior del país y 24 en Montevideo).</p>
      <p>Ver información complementaria en
        <a href="http://www.asse.com.uy/contenido/Movilidad-Regulada-8431" target="_blank">http://www.asse.com.uy/contenido/Movilidad-Regulada-8431
        </a>
      </p>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="asse_metas_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <p>Ver información complementaria en
        <a href="http://www.asse.com.uy/contenido/Movilidad-Regulada-8431" target="_blank">http://www.asse.com.uy/contenido/Movilidad-Regulada-8431
        </a>
      </p>
    </div>
  </div>
</div>
