<tr>
  <td colspan="5">
    <p class="asse">
      Ver resultados de encuestas de satisfacción en<br>
      <%= link_to 'http://www.asse.com.uy/contenido/Movilidad-Regulada-8431',
                  'http://www.asse.com.uy/contenido/Movilidad-Regulada-8431',
                  target: '_blank'
      %>
      <br>
      Los datos de las Encuestas de Satisfacción sobre los Servicios
      del Primer Nivel de Atención (2014 y 2010) correspondientes a
      ASSE no son estrictamente comparables para esos dos años,
      debido a aspectos de conformación y alcance de la muestra
    </p>
  </td>
</tr>
