<p>Mediante el Sistema de Gestión de Consultas (SGC) se registran las consultas ambulatorias no urgentes, conformando la agenda electrónica de ASSE. La herramienta posibilita programar consultas, registrar las consultas realizadas tanto programadas como espontáneas, registrar y gestionar la demanda en espera, registrar datos trazadores de las consultas y obtener indicadores asistenciales básicos.</p>

<p>Si bien ASSE ha seguido las especificaciones metodológicas definidas por el MSP y realiza cálculos de tiempos de espera, se considera que existen ciertas limitaciones al aplicar dicha metodología de cálculo en la institución, por sus características particulares. ASSE presenta gran variabilidad en cada departamento del país (y al interior de los mismos, en cada Unidad Asistencial), respecto a los tiempos de espera para las distintas especialidades, siendo muchas veces inconveniente resumirlos a través de una “única medida país” para comparar con el resto de los prestadores.</p>

<p>A pesar de esta situación, por primera vez en el segundo semestre 2022 ASSE envío datos globales de tiempos de espera, que deben ser analizados tomando en cuenta este contexto.</p>
