<p>
  Mediante el Sistema de Gestión de Consultas (SGC) se registran las consultas ambulatorias no urgentes de ASSE, conformando la agenda electrónica de ASSE utilizada para todas las Unidades Asistenciales (UA). La herramienta posibilita programar consultas, registrar las consultas realizadas tanto programadas como espontáneas, registrar y gestionar la demanda en espera, registrar datos trazadores de las consultas y obtener indicadores asistenciales básicos.
</p>

<p>
  Dicho sistema inició su implantación en ASSE en 2012 y aún continúa expandiéndose. A diciembre de 2017 existían 402 UA implantadas (de un total de 897); durante el transcurso del año se implantaron 135 UA, incluyendo las UA de mayor porte del interior del país, RAP Metropolitana y los hospitales de referencia nacional.
</p>
<p>
  Para el cálculo de los tiempos de espera se realizó una extracción de la base de datos de julio a diciembre de 2017. Si bien ASSE ha seguido las especificaciones metodológicas definidas por el MSP, se considera que existen ciertas limitaciones al considerar específicamente la institución con esta metodología de cálculo, por lo que se dificulta su comparación con el resto de los prestadores.
</p>

<p>
  <%= link_to 'Ver información complementaria', 'http://www.asse.com.uy/contenido/Movilidad-Regulada-8431', target: '_blank'%>
</p>
