<p>Mediante el Sistema de Gestión de Consultas (SGC) se registran las consultas ambulatorias no urgentes de ASSE, conformando la agenda electrónica de ASSE. La herramienta posibilita programar consultas, registrar las consultas realizadas tanto programadas como espontáneas, registrar y gestionar la demanda en espera, registrar datos trazadores de las consultas y obtener indicadores asistenciales básicos.</p>

<p>Dicho sistema inició su implantación en ASSE en 2012 y aún continúa expandiéndose. A setiembre de 2019 existían 669 Unidades Asistenciales (UA) implantadas (de un total de 897), encontrándose actualmente en la etapa de implantación de aquellas UA que no cuentan con consultas diarias en las zonas más alejadas de los centros urbanos. La cobertura actual de las consultas son SGC es de 94,1%.</p>

<p>Para el cálculo de los tiempos de espera se realizó una extracción de la base de datos de enero a junio de 2019, pero si bien ASSE ha seguido las especificaciones metodológicas definidas por el MSP, se considera que existen ciertas limitaciones al considerar específicamente la institución con dicha metodología de cálculo, por lo que se dificulta su comparación con el resto de los prestadores.</p>

<p>  <%= link_to 'Ver información complementaria', 'http://www.asse.com.uy/contenido/Movilidad-Regulada-8431', target: '_blank'%></p>
