<p>Mediante el Sistema de Gestión de Consultas (SGC) se registran las consultas ambulatorias no urgentes, conformando la agenda electrónica de ASSE. La herramienta posibilita programar consultas, registrar las consultas realizadas tanto programadas como espontáneas, registrar y gestionar la demanda en espera, registrar datos trazadores de las consultas y obtener indicadores asistenciales básicos.</p>

<p>Dicho sistema inició su implantación en 2012 y a junio de 2021 existían 817 Unidades Asistenciales (UA) con el Sistema habilitado (de un total de 905). La cobertura de las consultas de todos las Especialidades y Disciplinas con SGC es del 93%.</p>

<p>Si bien ASSE ha seguido las especificaciones metodológicas definidas por el MSP y realiza cálculos de tiempos de espera, se considera que existen ciertas limitaciones al aplicar dicha metodología de cálculo en la institución, por sus características particulares, por lo que se dificulta su comparación con el resto de los prestadores.</p>

<p>  <%= link_to 'Ver información complementaria', 'http://www.asse.com.uy/contenido/Movilidad-Regulada-8431', target: '_blank'%></p>
