<footer>
  <div class="row">
    <div class="col-md-4">
      <h4>Acerca de DATA</h4>
      <p>Somos una organización de la sociedad civil que trabaja creando herramientas sociales para promover la participación y el debate público a través de la transparencia, datos abiertos y acceso a la información.</p>
      <a href="http://datauy.org">www.datauy.org</a>
    </div>
    <div class="col-md-4">
      <h4>Acerca de MSP</h4>
      <p>El Ministerio de Salud promueve la participación social con enfoque de derechos, brindando herramientas para la toma de decisiones a usuarios y prestadores de salud.</p>
      <a href="http://www.msp.gub.uy">www.msp.gub.uy</a>
    </div>
    <div class="col-md-4">
      <h4>Que son los datos abiertos?</h4>
      <p>El estado recoge y produce datos para cumplir con su función. Su publicación en formatos abiertos permite que sean reutilizados por el gobierno, sociedad civil, organizaciones, empresas o ciudadanos en general.</p>
      <a href="https://catalogodatos.gub.uy/organization/ministerio-de-salud-publica">www.catalogodatos.gub.uy</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= render 'layouts/github_buttons' %>
    </div>
  </div>

  <div class="row" id="bottom_footer">
    <div class="col-md-6"  style="text-align:right">
      <a href="http://idatosabiertos.org/" target="_blank">
        <%= image_tag 'ilda.png' %>
      </a>
    </div>
    <div class="col-md-6">
      <a href="http://www.avinaamericas.org/" target="_blank">
        <%= image_tag 'avina.png' %>
      </a>
    </div>
  </div>
</footer>
