<p>Por más información sobre la construcción de los indicadores, puede consultar la <%= link_to "Guía Metodológica de Movilidad Regulada de los usuarios del Seguro Nacional de Salud - FONASA", "/guia_metodologica.pdf" %>.</p>
<p>Los datos sin procesar están disponibles para ser descargados desde el <a href="https://catalogodatos.gub.uy/dataset/movilidad-regulada">Catálogo Nacional de Datos Abiertos</a>.</p>
