<p>Por más información sobre la construcción de los indicadores, puede consultar la <%= link_to "Guía Metodológica ATuServicio.uy 2017", "/guia_metodologica_2018.pdf", target: '_blank' %>.</p>
<p>Los datos sin procesar están disponibles para ser descargados desde el <a href="https://catalogodatos.gub.uy/dataset/movilidad-regulada-2017" target='_blank'>Catálogo Nacional de Datos Abiertos</a>.</p>
