<div class="comparision-header">
  <ul class="menu">
    <li>
      <a href="/">
        Listado
      </a>
    </li>
    <li class="active">
      <a href="/comparar">
        Comparar
      </a>
    </li>
    <li>
      <a href="/quienes_somos">
        Quienes Somos
      </a>
    </li>
  </ul>
</div>
