<div class="comparision-header">
  <ul class="menu">
    <li>
      <a href="/">
        Listado
      </a>
    </li>
    <li class="active">
      <a href="/comparar">
        Comparar
      </a>
    </li>
    <li>
      <a href="/sobre_el_proyecto">
        Sobre el proyecto
      </a>
    </li>
  </ul>
</div>
