<div id="nav-menu">
  <ul class="menu">
    <li>
      <a href="/">
        Inicio
      </a>
    </li>
    <li>
      <a href="/comparar">
        Comparar
      </a>
    </li>
    <li>
      <a href="/sobre_el_proyecto">
        Sobre el proyecto
      </a>
    </li>
  </ul>
</div>
